:root {
    --banderoleHeight: 32px;
    --navigationOffset: 20px;
    --navigationOffsetScrolled: 15px;
}

.banderole {
    position: fixed;
    z-index: 102;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--banderoleHeight);
    background-color: #478700;
    background-color: #4caf50;
    background-image: linear-gradient(-30deg, $color-primary, darken($color-primary, 20%), $color-primary);
    // background-color: $color-primary;
    text-shadow: 0 0 10px #000;
    padding: 0 var(--gutter-xs);
    color: #fff;
    font-weight: 500;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 1;
    white-space: nowrap;

    >*+* {
        margin-left: var(--gutter-xs);
    }

    &__text {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    a {
        display: inline-block;
        border: 2px solid #fff;
        color: currentColor;
        padding: 3px 10px;
        border-radius: 300px;

        &:before {
            content: 'Mehr';
            font-size: 16px;
            display: none;
        }

        &:hover {
            background-color: #fff;
            color: #000;
            text-shadow: none;
        }
    }
    
    &~.navigation {
        top: calc(var(--banderoleHeight) - var(--navigationOffset));
    }
    &~.navigation--scrolled {
        top: calc(var(--banderoleHeight) - var(--navigationOffsetScrolled));
    }
    &~.navigation--scrolled~.navigation__shadow {
        top: calc(var(--navigationHeightScrolled) + var(--banderoleHeight) - var(--navigationOffsetScrolled));
    }
    &~* .tablist__links--sticky {
        top: calc(var(--navigationHeightScrolled) + var(--banderoleHeight) - var(--navigationOffsetScrolled));
    }
}

.banderole-spacer {
    display: none;
    width: 100%;
    height: var(--banderoleHeight);
}

@media screen and (max-width: 950px), screen and (max-height: 570px) {
    .banderole {

        a {
            font-size: 0;

            &:before {
                display: inline-block;
            }
        }

        &~.navigation {
            top: calc(var(--banderoleHeight) - var(--navigationOffsetScrolled));
        }
    }
}