.entry {
	display: flex;
	flex-direction: column;
	height: 100%;

    &__image {
        display: block;
        margin-bottom: 1rem;

        img {
            display: block;
            object-fit: cover;
            width: 100%;
            aspect-ratio: 16/9;
            border-radius: 10px;
        }
    }

    &__image--teaser {
        img {
            aspect-ratio: unset;
        }
    }

    &__title {
        a {
            color: #000;

            &:hover {
                color: $color-primary;
            }
        }
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;

        > * {
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
                margin-top: auto;
            }
        }
    }

    &__copy {
        * {
            font-size: 20px;
        }

        > * + * {
            margin-top: 1em;
        }

        ul, ol {
            margin-left: 1em;
        }

        a {
            font-family: $font-headline;
            color: #000;
            border-bottom: 2px solid #86ed18;

            &:hover {
                color: #86ed18;
                text-decoration: none;
            }
        }
    }
}

#toc_container {
    position: sticky;
	display: block;
    top: var(--navigationHeightScrolled);
    background-color: #fff;
    z-index: 99;
	width: 100%;
	margin: 30px auto;
    box-shadow: 0 4px 18px rgba(#000, .25);
    border-radius: 10px;
    padding: var(--gutter-xs) var(--gutter-s);

    .toc_title {
        font-family: $font-headline;
        font-size: 20px;
        line-height: 1;
        
        cursor: pointer;

        &:after {
            content: "↓";
            margin-left: var(--gutter-xs);
        }
    }
    
    .toc_list {
        display: none;
        margin-top: var(--gutter-s);
        max-height: calc(100vh - (var(--navigationHeightScrolled) * 2) - 48px);
        overflow-y: auto;

        --scrollbarBG: transparent;
        --thumbBG: #86ed18;
        scrollbar-width: thin;
        scrollbar-color: var(--thumbBG) var(--scrollbarBG);
        &::-webkit-scrollbar {
            width: 6px;
        }
        &::-webkit-scrollbar-track {
            background: var(--scrollbarBG);
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--thumbBG) ;
            border-radius: 6px;
            border: 3px solid var(--scrollbarBG);
        }
    }

    &.toc_container--stuck {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    &.toc_container--open {
        .toc_title {
            &:after {
                content: "↑";
            }
        }

        .toc_list {
            display: block;
        }
    }

    a:hover {
        text-decoration: none;
    }
}

#post-navigation {
    margin-top: var(--gutter-xl);
    display: flex;
    justify-content: center;
    
    .post-navigation-inside {
        display: flex;
        justify-content: center;

        * + * {
            margin-left: var(--gutter-xs);
        }
    }

    a, .current, .dots {
        @extend .btn;
    }

    .current, .dots {
        @extend .btn--border-black;
        cursor: default !important;
        pointer-events: none;
    }
    
    a {
        @extend .btn--secondary;
    }
}

#footer {
    a:not(.btn) {
        color: rgba(#fff, 0.5);

        &:hover {
            color: $color-primary;
        }
    }

    ul {
        list-style: none;
    }

    #footer-inside {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 60px 25px 0 25px;

        .widget {
            width: calc(33% - 25px);

            h3 {
                font-family: "Px Grotesk",sans-serif;
                font-size: 24px;
                margin-bottom: 0.5em;
            }
        }
    }
}