.btn {
	display: table;
	text-transform: uppercase;
	border-radius: 100px;
	padding: var(--gutter-xs) var(--gutter-m);
	font-family: $font-headline;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.35;
	letter-spacing: .1em;
	cursor: pointer;
	transition: all .3s ease;

	&--small-padding {
		padding: var(--gutter-xs);
	}
	
	&--primary {
		background-color: $color-primary;
		color: #000;
		&:hover {
			background-color: #000;
			color: #fff;
			&.btn--arrow-right:after {
				filter: invert(1);
			}
			&.btn--notification:after {
				background-color: $color-primary;
				color: #000;
			}
		}
		&.btn--notification:after {
			background-color: #000;
			color: #fff;
		}
	}
	
	&--secondary {
		background-color: #000;
		color: #fff;
		&:hover {
			background-color: $color-primary;
			color: #000;
			.btn--notification:after {
				background-color: #000;
				color: #fff;
			}
		}
		&.btn--notification:after {
			background-color: $color-primary;
			color: #000;
		}
	}

	&--application {
		position: relative;
		background-color: #000;
		color: #fff;
		font-size: 18px;
		text-transform: unset;
		line-height: 150%;
		font-family: $font-copy;
		font-weight: normal;
		border-radius: 10px;
		padding-left: 90px;
		padding-right: 20px;
		strong {
			font-family: $font-headline;
			font-weight: normal;
			font-size: 20px;
		}
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			display: block;
			background-image: url(../images/icons_svg/application-white.svg);
			width: 50px;
			height: 50px;
			left: 20px;
		}
		&:hover {
			background-color: $color-primary;
			color: #000;
			&:before {
				background-image: url(../images/icons_svg/application-black.svg);
			}
		}
	}

	&--border-black {
		background-color: transparent;
		color: #000;
		border: 2px solid currentColor;
		&:hover {
			color: $color-primary;
		}
	}
	&--border-white {
		background-color: transparent;
		color: #fff;
		border: 2px solid currentColor;
		&:hover {
			color: $color-primary;
		}
		&.btn--arrow-right:after {
			filter: invert(1);
		}
	}

	&--border-bottom {
		border-radius: 0;
		padding: 0;
		color: #000;
		letter-spacing: unset;
		border-bottom: 2px solid currentColor;

		&:hover {
			color: $color-primary;
		}
	}
	
	&--centered {
		margin-left: auto;
		margin-right: auto;
	}
	
	&--full-width {
		width: 100%;
	}

	&--nowrap {
		white-space: nowrap;
	}
	
	&--arrow-right {
		position: relative;
		text-align: left;
		padding-right: 84px !important;
		&:after {
			content: "";
			position: absolute;
			right: 40px;
			top: calc(50% - 7px);
			background-image: url(../images/icons_svg/forward-arrow-icon.svg);
			background-size: 14px;
			background-position: center;
			background-repeat: no-repeat;
			width: 14px;
			height: 14px;
			vertical-align: middle;
			transition: all .3s ease;
		}
	}
	&--arrow-right-small {
		text-transform: unset;

		&:after {
			content: "";
			display: inline-block;
			background-image: url(../images/icons_svg/icon-forward.svg);
			background-position: center;
			background-repeat: no-repeat;
			width: 10px;
			height: 10px;
			vertical-align: middle;
			margin-left: var(--gutter-micro);
		}
	}
	
	&--notification {
		position: relative;
		padding-right: 80px;
		&:after {
			content: attr(data-notification);
			position: absolute;
			top: 50%;
			right: 40px;
			transform: translateY(-50%);
			font-family: $font-headline;
			font-size: 12px;
			line-height: 1.5;
			border-radius: 20px;
			padding: 0 8px 3px 8px;
			margin-left: 15px;
			display: inline-block;
			vertical-align: middle;
			transition: all .3s ease;
		}
	}

	&__notification {
		font-family: $font-headline;
		font-size: 12px;
		line-height: 1.5;
		border-radius: 20px;
		padding: 0 8px;
		margin-left: 15px;
		display: inline-block;
		vertical-align: middle;
		transition: all .3s ease;
	}

	&--disabled, &:disabled, &[disabled] {
		opacity: 0.5;
		cursor: not-allowed;
	}
}

.btn-set {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: var(--gutter-m);
	margin-left: calc(-1 * var(--gutter-xs));
	margin-bottom: calc(var(--gutter-m) - var(--gutter-xs));
	width: calc(100% + (var(--gutter-xs) * 2));

	&--centered {
		justify-content: center;
	}
	.btn {
		margin-left: var(--gutter-xs);
		margin-right: var(--gutter-xs);
		margin-bottom: var(--gutter-xs);
		// &:last-child {
		// 	margin-right: 0;
		// }
	}
}