.content-box {
    border-radius: 10px;
    padding: 30px 25px;
    margin: 70px auto;
    max-width: 570px;
    width: 100%;

    &--white {
        background-color: #fff;
        color: #000;
    }
}