*+.content-box, .content-box+* {
    margin-top: var(--gutter-l);
}

.content-box {
    border-radius: 10px;
    padding: var(--gutter-m);
    margin: 0 auto;
    max-width: 570px;
    width: 100%;
    overflow: hidden;

    &--wide {
        max-width: 1030px;
    }

    &--small-padding {
        padding: var(--gutter-xs);
    }

    &--big-padding {
        padding: var(--gutter-xxl);

        @media screen and (max-width: 760px) {
            padding: var(--gutter-m);
        }
    }

    &--shadow {
        box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
    }

    &--border {
        border: 2px solid rgba(#000, .1);
    }

    &--purple-queue {
        background-image: url(/assets/images/illus/queue-stoerer-illustration.svg), linear-gradient(180deg, #FFFFFF 0%, #FFF0FD 100%);
        background-position: right bottom, center;
        background-repeat: no-repeat;

        @media screen and (max-width: 959px) {
            padding-bottom: 260px;
            background-size: auto 250px, 100%;
            background-position: center bottom, center
        }
    }

    &--green-dataprotection {
        background-image: url(/assets/images/illus/data-protection-stoerer-illustration.svg), linear-gradient(180deg, #FFFFFF 0%, #EDF2E2 100%);
        background-position: right bottom, center;
        background-repeat: no-repeat;

        @media screen and (max-width: 959px) {
            padding-bottom: 260px;
            background-size: auto 250px, 100%;
            background-position: center bottom, center
        }
    }

    &--white-datenschutz {
        background-image: url(/assets/images/illus/law-text-illustration.svg);
        background-color: rgba(#fff, .2);
        background-position: calc(100% - 70px) bottom;
        background-repeat: no-repeat;

        @media screen and (max-width: 959px) {
            padding-bottom: 260px;
            background-size: auto 250px, 100%;
            background-position: center bottom
        }
    }

    &--white-on-black {
        background-color: rgba(#fff, .2);
        color: #fff;
    }

    &--white {
        background-color: #fff;
        color: #000;
    }

    &--full-width {
        max-width: 100%;
    }

    p+p {
        margin-top: var(--gutter-xs);
    }

    >.co-grid {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.co-grid .content-box:not(.content-box--nofill) {
    height: 100%;
}

*+.content-box {
    margin-top: var(--gutter-xl);
}