.floating-form+*,*+.floating-form {
    margin-top: 30px;
}

.floating-form {
    --gutter: 30px;

    >*+* {
        margin-top: var(--gutter);
    }

    &__row {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    &__col {
        flex: 1 1 0px;
        width: 0;
        &+.floating-form__col {
            margin-left: var(--gutter);
        }
        .floating-form__field + .floating-form__field {
            margin-top: var(--gutter);
        }
    }

    &__icon {
        margin-right: 20px;
        img {
            display: block;
        }
    }

    &__description {
        margin-left: 20px;
    }

    &__field {
        position: relative;
        border: 2px solid #c4c4c4;
        border-radius: 5px;
        input, textarea, label {
            font-size: 18px;
            font-family: $font-copy;
            line-height: 1.6;
        }
        textarea {
            resize: none;
        }
        label {
            position: absolute;
            top: 12px;
            left: 25px;
            pointer-events: none;
            color: rgba(#000, .6);
            transition: all .3s ease;
            background-color: #fff;
            overflow: hidden;
            max-width: calc(100% - 60px);
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        input, textarea {
            display: block;
            width: 100%;
            padding: 10px 25px;
            color: #000;
            &:focus, &:not(:placeholder-shown) {
                &~label {
                    transform: translateY(calc(-50% - 12px));
                    padding: 0 5px;
                    left: 20px;
                    font-size: 12px;
                }
            }
        }
        .customSelect {
            position: relative;
            height: 48px;
            .select-hide {
                display: none;
            }
            .select-items {
                position: absolute;
            }
        }
    }
    &__field--short {
        width: 100%;
        max-width: 120px;
    }

    &__upload {
        position: relative;
        max-width: 570px;
        margin: 0 auto;
        input {
            position: absolute;
            width: 1px;
            height: 1px;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
        }
        label {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px dashed #C4C4C4;
            border-radius: 5px;
            padding: 20px;
            transition: all .3s ease;
            cursor: pointer;
            &:hover {
                border-color: $color-primary;
            }
            &:before {
                content: attr(data-title);
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
                padding: 1px 5px;
                background-color: #fff;
                border: 1px solid #fff;
                font-family: $font-copy;
                font-size: 12px;
                line-height: 1.6;
                color: rgba(#000, .6);
                white-space: nowrap;
            }
            span {
                position: relative;
                display: inline-block;
                background: #FFFFFF;
                box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15), 0px 4px 20px rgba(0, 0, 0, 0.05);
                border-radius: 10px;
                padding: 10px 20px;
                font-family: $font-headline;
                font-weight: normal;
                font-size: 14px;
                line-height: 1.4;
                &.icon-application:before {
                    content: "";
                    position: absolute;
                    display: block;
                    top: 50%;
                    left: -20px;
                    transform: translate3d(-100%, -50%, 0);
                    width: 26px;
                    height: 34px;
                    background-image: url(../images/icons_svg/application-document.svg);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    @media screen and (max-width: 500px) {
                        display: none;
                    }
                }
            }
        }
    }
    &__file {
        position: relative;
        background-color: #F0F0F0;
        border-radius: 5px;
        padding: 15px 60px 15px 20px;
        font-family: $font-headline;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.4;
        margin-top: 20px;
        span {
            position: absolute;
            top: 50%;
            right: 20px;
            width: 20px;
            height: 20px;
            transform: translateY(-50%);
            background-image: url(../images/icons_svg/icon-cancel-round.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }

    &__privacy-toggle {
        position: relative;
        user-select: none;
        input {
            position: absolute;
            top: 50%;
            width: 1px;
            height: 1px;
            right: calc(15px + 13px);
            transform: translateY(-50%);
            &+label {
                position: relative;
                display: block;
                width: 100%;
                background: #FFFFFF;
                border: 2px solid rgba(0, 0, 0, 0.2);
                //box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                padding: 15px;
                padding-right: calc(15px + 15px + 26px);
                font-size: 18px;
                line-height: 140%;
                a {
                    border-bottom: 2px solid $color-primary;
                    font-weight: bold;
                    color: #000;
                    &:hover {
                        border-color: #000;
                    }
                }
                &:before {
                    content: '';
                    width: 26px;
                    height: 26px;
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    transform: translateY(-50%);
                    background-image: url(../images/icons_svg/checkbox-unchecked.svg);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    cursor: pointer;
                }
            }
            &:checked + label {
                &:before {
                    background-image: url(../images/icons_svg/checkbox-checked.svg);
                }
            }
        }
    }

    &__submit {
        background-color: $color-primary;
        color: #000;
        text-transform: uppercase;
        display: block;
        border-radius: 100px;
        padding: 15px 40px;
        margin: 50px auto;
        font-family: $font-headline;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.35;
        letter-spacing: .1em;
        cursor: pointer;
        transition: all .3s ease;
        &:hover {
            background-color: #000;
            color: #fff;
        }
        &:disabled, &[disabled] {
            background-color: $color-grey;
            cursor: not-allowed;
        }
    }
    &__submit--fullwidth {
        width: 100%;
    }
    &__label--disabled, &__label--disabled:hover {
        background-color: $color-grey;
        cursor: not-allowed;
    }

    &__error {
        border-radius: 6px;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-red;
        padding: 10px;
        margin-bottom: 25px;
        text-align: center;
        h2 {
            font-size: 18px;
            margin-bottom: 10px;
        }
        p {
            font-size: 16px;
        }
    }
    &__error--active {
        display: flex;
    }

    &__loader {
        position: relative;
        display: none;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $color-primary;
        margin: var(--gutter) auto;
        overflow: hidden;
        &:before, &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 100%;
            background-color: #fff;
            animation: load 2s infinite ease;
        }
        &:after {
            animation-delay: .5s;
        }
    }
    &__loader--active {
        display: block;
    }

    &+* {
        margin-top: 30px;
    }
}

@keyframes load {
  to {
    width: 33%;
    left: 100%;
  }
}

@media screen and (max-width: 800px) {
    .floating-form {
        &__row {
            flex-direction: column;
        }

        &__col {
            width: auto;
            &+.floating-form__col {
                margin-left: 0;
                margin-top: 25px;
            }
        }
    }
}