*+.co-grid, .co-grid+* {
    margin-top: 30px;
}

.co-grid {
    --gutter: 30px;

    &--small-gutter {
        --gutter: 15px;
    }

    //outline: 1px solid red; // For Debugging
    // margin-bottom: var(--gutter);
    // margin-top: var(--gutter);

    width: calc(100% + var(--gutter));
    margin-left: calc(var(--gutter) / 2 * -1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    
    &--no-margin-top {
        margin-top: calc(var(--gutter) / 2 * -1);
    }
    &--no-margin-bottom {
        margin-bottom: calc(var(--gutter) / 2 * -1);
    }

    &--center-line {
        background-image: linear-gradient(90deg, 
            rgba(#000, 0) calc(50% - 1px), 
            rgba(#000, .2) calc(50%), 
            rgba(#000, 0) calc(50% + 1px)
        );
        background-size: 2px 80%;
        background-position: center;
        background-repeat: no-repeat;
        @media screen and (max-width: 1170px) {
            background: none;
        }
    }

    &__col {
        margin: calc(var(--gutter) / 2);

        > img {
            display: block;
            margin: 0 auto;
            &+* {
                margin-top: 30px;
            }
        }
        >.co-grid {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    &__col--fill {
        flex: 1;
    }
    &__col--vcentered {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        // align-items: stretch;
        >*:not(.co-grid) {
            width: 100%;
        }
        img {
            width: auto !important;
        }
    }
    &__col--vend {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        >*:not(.co-grid) {
            width: 100%;
        }
        img {
            width: auto !important;
        }
    }
    &__col--hcentered {
        align-items: center;
    }
}
  
$breakpoints: (
    xs: 0,
    sm: 600,
    md: 960,
    lg: 1280,
    xl: 1920
);

@each $size, $value in $breakpoints {
    @media screen and (min-width: #{$value}px) {
        @for $i from 1 through 12 {
            .co-grid__col--#{$i}-#{$size} {
                width: calc(#{percentage($i/12)} - var(--gutter));
            }
        }
    }
    @media screen and (max-width: #{$value}px) {
        .co-grid__col--hidden-#{$size} {
            display: none;
        }
        @for $i from 1 through 5 {
            .co-grid__col--order-#{$i}-#{$size} {
                order: #{$i};
            }
        }
        
    }
}

// Order XS
@media screen and (min-width: 0px) and (max-width: 600px) {
    @for $i from 1 through 5 {
        .co-grid__col--order-#{$i}-xs {
            order: #{$i};
        }
    }
}
// Order SM
@media screen and (min-width: 600px) and (max-width: 960px) {
    @for $i from 1 through 5 {
        .co-grid__col--order-#{$i}-sm {
            order: #{$i};
        }
    }
}
// Order MD
@media screen and (min-width: 960px) and (max-width: 1280px) {
    @for $i from 1 through 5 {
        .co-grid__col--order-#{$i}-md {
            order: #{$i};
        }
    }
}

@media screen and (max-width: 850px) {
    [class*='co-grid__col--12-'] {
        > img:not(.co-grid__image--full-width) {
            max-width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}