.hero {
    width: 100%;
    max-width: 1250px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 60px auto;

    &__text {
        width: 100%;
        max-width: 670px;
        h1 {
            font-family: $font-copy;
            font-weight: normal;
            font-size: 38px;
            line-height: 1.5;
            margin-bottom: 15px;
        }
        h2 {
            font-family: $font-copy;
            font-weight: normal;
            font-size: 24px;
            line-height: 1.5;
        }
        &+.hero__image {
            margin-left: 30px;
        }
    }

    &__image {
        width: 100%;
        max-width: 510px;
        >* {
            max-width: 100% !important;
            left: auto !important;
            top: auto !important;
        }
        &.hero__text {
            margin-left: 30px;
        }
    }
}

@media screen and (max-width: 1080px) {
    .hero {
        &__image {
            max-width: 330px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .hero {
        flex-direction: column;
        margin-bottom: 0;

        &__text {
            order: 2;
            max-width: 100%;

            h1 {
                font-size: 30px;
            }
        }
        &__image {
            order: 1;
            max-width: 50%;
            margin-bottom: 30px;
        }
    }
}
@media screen and (max-width: 550px) {
    .hero__image {
        max-width: 80%;
    }
}