*+.list, .list+* {
    margin-top: var(--gutter-l);
}
h2+.list {
    margin-top: var(--gutter-m);
}

.list {
    --fs: inherit;

    @media screen and (max-width: 768px) {
        --fs: inherit !important;
    }

    &--checkmarks, &--checkmarks-top {
        list-style: none;
        li {
            position: relative;
            padding-left: 2em;
            font-size: var(--fs);

            &+li {
                margin-top: 15px;
            }
            
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: calc(50% - .5em);
                width: 1em;
                height: 1em;
                display: inline-block;
                background-image: url(../images/icons_svg/checkmark-icon.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    &--checkmarks-green {
        li {
            padding-left: calc(2em + var(--gutter-xs));
            font-size: 20px;

            &+li {
                margin-top: var(--gutter-m);
            }

            &:before {
                width: 2em;
                top: calc(50% - 1em);
                height: calc(2em / 43 * 46);
                // aspect-ratio: 43/46;
                background-image: url(../images/icons_svg/icon-checkmark-green.svg);
            }

            @media screen and (max-width: 800px) {
                font-size: 18px;
            }
        }
    }

    &--checkmarks-top {
        li {
            &:before {
                top: calc(1em / 4);
            }
        }
    }

    &--on-black {
        &.list--checkmarks li:before {
            filter: invert(1);
        }
    }
}