.list {
    --fs: inherit;

    @media screen and (max-width: 768px) {
        --fs: inherit !important;
    }

    &--checkmarks, &--checkmarks-top {
        list-style: none;
        li {
            position: relative;
            padding-left: 2em;
            font-size: var(--fs);

            &+li {
                margin-top: 15px;
            }
            
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: calc(50% - .5em);
                width: 1em;
                height: 1em;
                display: inline-block;
                background-image: url(../images/icons_svg/checkmark-icon.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    &--checkmarks-green {
        li {
            &:before {
                background-image: url(../images/icons_svg/checkmark-green-icon.svg);
            }
        }
    }

    &--checkmarks-top {
        li {
            &:before {
                top: calc(1em / 4);
            }
        }
    }

    &--on-black {
        &.list--checkmarks li:before {
            filter: invert(1);
        }
    }
}