.logos {
    --height: 50px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &--fade {
        img {
            opacity: .66;
            transition: opacity .3s ease;

            &:hover {
                opacity: 1;
            }
        }
    }

    picture {
        display: block;
        width: auto;
        max-width: 100%;
    }

    img {
        display: block;
        margin: var(--gutter-s);
        width: auto;
        height: 100%;
        max-height: var(--height);
    }
}