.logos {
    --height: 50px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    img {
        display: block;
        margin: var(--gutter-s);
        width: auto;
        height: 100%;
        max-height: var(--height);
    }
}