:root {
    --navigationHeight: 125px;
    --navigationHeightScrolled: 60px;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: var(--navigationHeight);
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height .3s ease;
    font-size: 16px;

    &--scrolled {
        height: var(--navigationHeightScrolled);
        box-shadow: 0 0 20px rgba(#000, 0.25);

        .navigation__link {
            a {
                font-size: 14px;
                padding: var(--gutter-micro) var(--gutter-xs);
            }
        }

        .navigation__logo {
            height: 24px;
        }

        &+.navigation-spacer {
            height: var(--navigationHeightScrolled);
        }
    }

    &__links {
        max-width: 1220px;
        padding: 0 25px;
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        ul {
            position: relative;
            display: flex;
            list-style: none;
            height: 100%;
            justify-content: flex-start;
            align-items: stretch;
            flex: 1;

            >li:last-child {
                margin-left: auto;
            }
        }

    }

    &__item {
        display: flex;
        align-items: stretch;

        &:hover {
            .navigation__submenu {
                display: block;
            }
            .navigation__link:not(.navigation__link--highlight) {
                a {
                    color: $color-primary;
                }

                &:after {
                    display: block;
                }
            }
            .navigation__link--arrow a:after {
                background-image: url(../images/icons_svg/arrow-up-green.svg);
            }
        }
    }

    &__link {
        position: relative;
        display: flex;
        align-items: center;

        a {
            color: #000;
            font-weight: 500;
            padding: var(--gutter-xs) var(--gutter-s);
            border-radius: 100px;
            white-space: nowrap;
        }
    }
    &__link--highlight {
        a {
            background-color: $color-primary;
        }
    }
    &__link--arrow {
        a {
            &:after {
                content: "";
                display: inline-block;
                margin-left: var(--gutter-micro);
                width: 14px;
                height: 9px;
                background-image: url(../images/icons_svg/arrow-down-black.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        &:after {
            --arrow-size: 10px;
            --arrow-color: #fcfcfc;
            content: "";
            position: absolute;
            display: none;
            z-index: 20;
            bottom: 0;
            left: calc(50% - (var(--arrow-size) / 2));
            border-bottom: var(--arrow-size) solid var(--arrow-color);
            border-left: var(--arrow-size) solid transparent;
            border-right: var(--arrow-size) solid transparent;
        }
    }

    &__submenu {
        display: none;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: 10;
        transform: translateY(100%);
        background-image: linear-gradient(#fcfcfc, #fff);
        box-shadow: 0 15px 40px rgba(#000, .1), 0 0 20px rgba(#000, .15);
        // outline: 1px solid red; // Debug
    }

    &__logo {
        margin-right: var(--gutter-m);
        height: 40px;

        img {
            display: block;
            height: 100%;
        }
    }
}

.navigation-spacer {
    position: relative;
    width: 100%;
    height: var(--navigationHeight);
}