:root {
    --navigationHeight: 100px;
    --navigationHeightScrolled: 60px;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: var(--navigationHeight);
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height .3s ease;
    font-size: 16px;

    &--scrolled {
        height: var(--navigationHeightScrolled);
        box-shadow: 0 0 20px rgba(#000, 0.25);

        .navigation__link {
            &:after {
                bottom: 0px;
            }
        }

        .navigation__submenu {
            bottom: 0px;
        }

        .navigation__logo {
            height: 24px;
        }

        &+.navigation-spacer {
            height: var(--navigationHeightScrolled);
        }
    }

    &__links {
        max-width: 1300px;
        padding: 0 25px;
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        ul {
            position: relative;
            display: flex;
            list-style: none;
            height: 100%;
            justify-content: flex-start;
            align-items: stretch;
            flex: 1;
        }

    }

    &__item {
        display: flex;
        align-items: stretch;

        &:hover {
            .navigation__submenu {
                display: flex;
            }
            .navigation__link:not(.navigation__link--highlight) {
                a {
                    color: $color-primary;
                }

                &:after {
                    display: block;
                }
            }
            .navigation__link--arrow a:after {
                background-image: url(../images/icons_svg/arrow-up-green.svg);
            }
        }

        &+.navigation__item {
            margin-left: var(--gutter-s);
        }
        &+.navigation__item--divider {
            margin-left: auto;
        }
    }
    &__item--small-submenu {
        position: relative;

        .navigation__submenu {
            right: 0;
            width: max-content;
            padding: var(--gutter-xs);
            flex-direction: column;

            .submenu__link {
                white-space: nowrap;
            }
        }
    }

    &__notification {
        background-color: $color-primary;
        border-radius: 100px;
        padding: var(--gutter-micro);
        color: #000;
        font-size: 12px;
        font-weight: 400;
        vertical-align: middle;
        display: inline-block;

        &:after {
            content: " Jobs";
        }
    }

    &__link {
        --arrow-color: #fcfcfc;
        --arrow-size: 10px;

        position: relative;
        display: flex;
        align-items: center;

        a {
            color: #000;
            font-weight: 500;
            border-radius: 100px;
            white-space: nowrap;
            display: block;
        }

        img {
            display: block;
        }

        &:after {
            content: "";
            position: absolute;
            display: none;
            z-index: 20;
            bottom: 20px;
            left: calc(50% - (var(--arrow-size) / 2));
            border-bottom: var(--arrow-size) solid var(--arrow-color);
            border-left: var(--arrow-size) solid transparent;
            border-right: var(--arrow-size) solid transparent;
        }
    }
    &__link--highlight {
        a {
            background-color: $color-primary;
            padding: var(--gutter-micro) var(--gutter-xs);
        }
    }
    &__link--faded {
        a {
            font-size: 14px;
            color: rgba(#000, .5);
            font-weight: 400;
        }
    }
    &__link--arrow {
        a {
            &:after {
                content: "";
                display: inline-block;
                margin-left: var(--gutter-micro);
                width: 8px;
                height: 9px;
                background-image: url(../images/icons_svg/arrow-down-black.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }
    }

    &__submenu {
        display: none;
        position: absolute;
        right: 0;
        bottom: 20px;
        width: 100%;
        z-index: 10;
        transform: translateY(100%);
        background-image: linear-gradient(#fcfcfc, #fff);
        box-shadow: 0 15px 40px rgba(#000, .1), 0 0 20px rgba(#000, .15);
    }

    &__logo {
        margin-right: var(--gutter-m);
        width: 170px;
        height: 40px;

        img {
            display: block;
            width: 100%;
            max-height: 100%;
        }
    }
}

.navigation-spacer {
    position: relative;
    width: 100%;
    height: var(--navigationHeight);
}

/*
 * Submenu Content
 */
.submenu {
    --c-link: #000;
    --c-link-hover: #{$color-primary};
    --c-link-border: 0, 0, 0; 

    flex-direction: row;
    align-items: stretch;

    &__left {
        --c-link: #eee;
        --c-link-hover: #{$color-primary};
        --c-link-border: 255, 255, 255; 
        background-color: #333635;
        color: #eee;
        width: 25%;
        padding: var(--gutter-xs);
    }
    
    &__right {
        --c-link: #000;
        --c-link-hover: #{$color-primary};
        --c-link-border: 0, 0, 0; 
        width: 75%;
        padding: var(--gutter-xs);
    }

    &__grid {
        display: flex;
    }

    &__column {
        flex: 1;

        &+.submenu__column {
            margin-left: var(--gutter-xs);
        }
    }

    &__headline {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: var(--gutter-micro);
    }

    &__link {
        display: flex;
        align-items: center;
        font-size: 16px;
        padding: var(--gutter-micro);
        border: 2px solid transparent;
        color: var(--c-link);
        transition: none;
        
        strong {
            font-weight: 500;
            display: block;
        }

        span {
            opacity: 0.5;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.3;
            display: block;
        }

        &:hover {
            border-color: rgba(var(--c-link-border), .15);
            color: var(--c-link-hover);

            span {
                color: var(--c-link);
            }
        }

        &+* {
            margin-top: var(--gutter-micro);
        }
    }
    &__link-icon {
        flex: 0 0 32px;
        margin-right: var(--gutter-xs);

        img {
            width: 100%;
            display: block;
        }
    }
    &__link-text {
        flex: 1;
    }
    &__link--small {
        display: block;
        border: 0;
    }

    &__info {
        font-size: 14px;
        color: rgba(var(--c-link-border), .5);

        a {
            color: var(--c-link-hover);
        }

        &+* {
            margin-top: var(--gutter-micro);
        }
    }
}