:root {
    --navigationHeight: 80px;
    --navigationHeightScrolled: 60px;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    height: var(--navigationHeight);
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height .3s ease;
    font-size: 16px;

    &__shadow {
        content: "";
        position: fixed;
        top: var(--navigationHeight);
        left: 0;
        width: 100%;
        height: 20px;
        background-image: linear-gradient(rgba(#000, .1), rgba(#000, 0));
        transition: all .3s ease;
        opacity: 0;
    }

    &--scrolled {
        height: var(--navigationHeightScrolled);

        .navigation__logo {
            height: 24px;
        }

        .navigation__login {
            padding: var(--gutter-micro) var(--gutter-s);
        }

        &~.navigation__shadow {
            opacity: 1;
            top: var(--navigationHeightScrolled);
        }

        &~.navigation-spacer {
            height: var(--navigationHeightScrolled);
        }
    }

    &__links {
        position: relative;
        max-width: 1300px;
        padding: 0 25px;
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        ul {
            display: flex;
            list-style: none;
            height: 100%;
            justify-content: flex-start;
            align-items: stretch;
        }

    }

    &__item {
        display: flex;
        align-items: stretch;

        @media screen and (min-width: 1300px) and (min-height: 520px) {
            &:hover {
                .navigation__submenu {
                    display: flex;
                }
                .navigation__link {
                    a {
                        color: $color-primary;
                    }
                    
                    &:after {
                        display: block;
                    }
                }
                .navigation__link--arrow a:after {
                    background-image: url(../images/icons_svg/arrow-up-green.svg);
                }
            }
        }
            
        &+.navigation__item {
            margin-left: var(--gutter-m);
        }
    }

    &__link {
        display: flex;
        align-items: center;

        a {
            color: rgba(#000, .5);
            font-weight: 700;
            font-size: 16px;
            border-radius: 100px;
            white-space: nowrap;
            display: block;
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }

        img {
            display: block;
        }
    }
    &__link--arrow {
        a {
            &:after {
                content: "";
                display: inline-block;
                margin-left: var(--gutter-micro);
                width: 16px;
                height: 10px;
                background-image: url(../images/icons_svg/arrow-down-black.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }
    }

    &__submenu {
        display: none;
        position: absolute;
        left: 50%;
        bottom: 0;
        width: auto;
        max-width: 900px;
        z-index: 10;
        transform: translateX(-50%) translateY(100%);
        filter: drop-shadow(0px -1px 2px rgba(0, 0, 0, 0.15)) drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.1));
        border-radius: 10px;
    }

    &__logo {
        display: block;
        margin-right: var(--gutter-m);
        width: 170px;
        height: 40px;

        img {
            display: block;
            width: 100%;
            max-height: 100%;
        }
    }

    &__login {
        display: block;
        border-radius: 100px;
        padding: var(--gutter-xs) var(--gutter-m);
        background-color: $color-primary;
        color: #000;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.1em;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }

    &__mobile-button {
        display: none;
        width: 48px;
        height: 48px;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        div {
            position: relative;
            width: 32px;
            height: 4px;
            border-radius: 4px;
            background-color: #949FAF;
            transition: all .3s ease;

            &:before, &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                background-color: #949FAF;
                width: 100%;
                height: 100%;
                border-radius: 4px;
                transition: all .3s ease;
            }

            &:before {
                transform: translateY(-200%) rotate(0deg);
            }
            &:after {
                transform: translateY(200%) rotate(0deg);
            }
        }
    }
    &__mobile-button--active {
        div {
            background-color: transparent;

            &:before {
                transform: translateY(0%) rotate(45deg);
            }
            &:after {
                transform: translateY(0%) rotate(-45deg);
            }
        }
    }
}

.navigation-spacer {
    position: relative;
    width: 100%;
    height: var(--navigationHeight);
}

/*
 * Submenu Content
 */
.submenu {
    --c-link: #000;
    --c-link-hover: #{$color-primary};
    --c-link-border: 0, 0, 0; 

    flex-direction: row;
    align-items: stretch;
    background-color: #fff;
    overflow: hidden;

    &__left, &__right {
        padding: var(--gutter-m) var(--gutter-s);
    }

    &__left {

    }

    &__right {
        background-color: #EDF2E2;
        width: 270px;
        flex: 0 0 270px;
    }

    &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    &__column {
        --width: 50%;
        flex: 0 0 var(--width);

        &+.submenu__column {
            padding-left: var(--gutter-s);
        }
    }
    &__column--border-right {
        padding-right: var(--gutter-s);
        border-right: 2px solid rgba(#000, .2);
    }

    &__link {
        border-bottom: 2px solid rgba(#000, .2);
        padding-bottom: var(--gutter-s);
        margin-bottom: var(--gutter-s);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    &__link-icon {
        margin-right: var(--gutter-s);
        width: 70px;
        flex: 0 0 70px;

        img {
            display: block;
            width: 100%;
        }
    }
    &__link-text {
        flex: 1;

        strong {
            display: block;
            font-size: 16px;
            line-height: 1.2;
            margin-bottom: 8px;
            white-space: nowrap;
            font-weight: 400;
        }
        p {
            font-size: 14px;
            color: rgba(#000, .5);
            line-height: 1.4;
        }
    }
    &__link--big {
        .submenu__link-text {
            strong {
                font-size: 20px;
                line-height: 20px;
                margin-bottom: 11px;
            }
        }
    }

    &__ad {
        img {
            display: block;
            width: 100%;
        }
    }
}

/*
 * Responsive Styles
 */
@media screen and (max-width: 1299px),
       screen and (max-height: 519px) {
    .navigation {
        height: var(--navigationHeightScrolled);
        font-size: 20px;

        &--scrolled {
            .navigation__logo {
                height: 40px;
            }
        }

        &__links {
            justify-content: space-between;

            ul {
                display: none;
            }
        }

        &__item {
            flex-direction: column;
            align-items: center;

            &+.navigation__item {
                margin-left: 0;
            }
        }
        
        &__item--open {
            .navigation__link {
                a {
                    color: $color-primary;
                }
                
                &:after {
                    display: none;
                }
            }
            .navigation__link--arrow a:after {
                background-image: url(../images/icons_svg/arrow-up-green.svg);
            }
            
            .navigation__submenu {
                display: flex;
                bottom: auto;
            }
        }
        
        &__link {
            padding: var(--gutter-xs);
        }

        &__submenu {
            box-shadow: none;
            border: 2px solid #333635;
        }

        &__mobile-button {
            display: flex;
        }

        &--mobile-open {
            .navigation__links ul {
                position: fixed;
                display: flex;
                flex-direction: column;
                align-items: center;
                top: var(--navigationHeightScrolled);
                left: 0;
                right: 0;
                bottom: 0;
                height: auto;
                background-color: #fff;
                overflow-y: auto;
                padding: var(--gutter-xs);
                padding-top: 0;
            }
        }
    }

    .navigation-spacer {
        height: var(--navigationHeightScrolled);
    }

    .submenu {
        position: relative;
        right: auto;
        transform: none;

        &__link {
            span {
                br {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1080px) {
    .submenu {
        flex-direction: column;

        &__left {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__right {
            width: 100%;
        }
    }
}

@media screen and (max-width: 768px) {
    .submenu {
        &__grid {
            flex-direction: column;
        }

        &__list {
            flex-direction: column;

            .submenu__link {
                margin-top: 0 !important;
                margin-left: 0 !important;
            }
        }

        &__column {
            &+.submenu__column {
                margin-left: 0;
                margin-top: var(--gutter-micro);
            }
        }
    }
}