.number-card {
    padding: 20px;
    background-color: rgba(#000, .05);
    font-family: $font-copy;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    border-radius: 10px;

    &--on-black {
        background-color: rgba(#fff, .2);
    }

    &--shadow {
        background-color: rgba(#fff, 0.75);
        box-shadow: 0 2px 8px rgba(#000, .15), 0 4px 20px rgba(#000, .05);
    }

    &--no-bg {
        background: none;
    }

    &--no-padding {
        padding: 0;
    }

    &--align-left {
        text-align: left;
    }

    &__number {
        --color: #FF002E;
        font-size: 48px;
        font-weight: 500;
        line-height: 1;
        color: var(--color);
    }
}

@media screen and (max-width: 1080px) {
    .number-card {
        &__number {
            font-size: 48px;
        }
    }
}