.number-card {
    padding: 20px;
    background-color: #F0F0F0;
    font-family: $font-copy;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    border-radius: 10px;

    &--on-black {
        background-color: rgba(#fff, .2);
    }

    &__number {
        --color: #FF002E;
        font-size: 54px;
        line-height: 1;
        color: var(--color);
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1080px) {
    .number-card {
        &__number {
            font-size: 48px;
        }
    }
}