.quote {
    --fontSize: 34px;

    font-family: $font-copy;
    font-style: normal;
    font-weight: normal;
    font-size: var(--fontSize);
    line-height: 1.5;
    padding: 0;
    
    &:before, &:after {
        display: none;
    }
    
    &+p {
        margin-top: 30px;
        font-size: calc(var(--fontSize) / 2);
        strong {
            font-family: $font-headline;
            font-weight: normal;
        }
    }
}

@media screen and (max-width: 768px) {
    .quote {
        --fontSize: 18px !important;
    }
}