$readmoreBreakpoint: 768px;

// Read More Inline Text
.readmore {
    display: inline;

    &__button {
        display: none;
        color: currentColor;
        border-bottom: 2px solid $color-primary;
        white-space: nowrap;
        font-weight: 500;

        &:hover {
            border-color: #000;
        }
    }
}

@media screen and (max-width: $readmoreBreakpoint) {
    .readmore {
        display: none;

        &--show {
            display: inline;
        }

        &__button {
            display: inline;
        }

        &__button--hide {
            display: none;
        }
    }
}

// Read More List Items
$maxListItems: 10;
[class*='readmore-list--'].readmore-list--show {
    li {
        display: list-item !important;

        &.readmore-list__button {
            display: none !important;
        }
    }

}

.readmore-list__button {
    display: none;

    a {
        color: currentColor;
        border-bottom: 2px solid $color-primary;
        white-space: nowrap;
        font-weight: 500;
    
        &:hover {
            border-color: #000;
        }
    }
}

@media screen and (max-width: $readmoreBreakpoint) {
    @for $i from 1 through $maxListItems {
        .readmore-list--#{$i} {
            li:nth-child(n+#{$i + 1}):not(:last-child) {
                display: none;
            }
        }
    }

    .readmore-list__button {
        display: list-item;
    }
}