.saving-calculation {
    h3 {
        font-family: $font-headline;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        span {
            font-family: $font-copy;
            font-weight: normal;
            font-size: 54px;
            line-height: 1.5;
            border-bottom: 4px solid $color-primary;
        }
    }

    h4 {
        margin-top: 50px;
        text-align: center;
    }

    h5 {
        font-family: $font-headline;
        font-weight: normal;
        font-size: 24px;
        line-height: 1.4;
        text-align: center;
        min-height: 66px;
        span {
            color: $color-primary;
        }
    }

    h6 {
        font-family: $font-headline;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        span {
            color: $color-primary;
            font-family: $font-copy;
            font-weight: normal;
            font-size: 34px;
            line-height: 1.4;
        }
    }

    &__grid {
        position: relative;
        background-image: url(../images/icons_svg/box-top.svg);
        background-size: 100%;
        background-position: center top;
        background-repeat: no-repeat;
        margin-top: 25px;
        padding-top: 51px;
    }

    &__col {
        background: rgba(124, 124, 124, 0.2);
        box-shadow: inset 0px 4px 20px rgba(134, 236, 22, 0.05);
        border-radius: 10px;
        padding: 10px;
    }

    &__calculation {
        border-radius: 10px;
        background: linear-gradient(358.98deg, rgba(220, 235, 216, 0.2) 0.47%, rgba(220, 235, 216, 0.154) 95.48%);
        box-shadow: inset 0px 4px 20px rgba(134, 236, 22, 0.05);
        margin: 30px 0;
        padding: 15px 0;
    }

    &__details {
        display: none;
    }
    &__details--open {
        display: block;
    }

    &__row, &__total {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        padding: 20px 0;

        &+.saving-calculation__row {
            border-top: 2px solid rgba(#fff, .5);
        }
    }

    &__entry {
        text-align: center;
        img {
            vertical-align: middle;
            display: inline-block;
            &+strong {
                margin-left: 15px;
            }
        }
        *+em {
            margin-top: 15px;
        }
        em {
            display: block;
            font-size: 14px;
            line-height: 1;
            font-style: normal;
        }
        strong {
            font-size: 20px;
            font-family: $font-headline;
            line-height: 24px;
            &.highlight {
                background: rgba(255, 255, 255, 0.2);
                border-radius: 5px;
                padding: 5px 10px;
            }
        }
        &+.saving-calculation__entry {
            margin-left: 20px;
        }
    }

    &__total {
        align-items: center;
        .saving-calculation__entry {
            em {
                margin-top: 0;
            }
            strong {
                font-size: 33px;
                white-space: nowrap;
            }
        }
    }

    &__content {
        p {
            >strong {
                font-family: $font-headline;
                font-weight: normal;
                font-size: 16px;
                line-height: 1.2;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: rgba(#fff, .7);
                display: block;
                margin-bottom: 20px;
            }
        }

        ul {
            list-style: none;
            li {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                .tooltip {
                    margin-left: 15px;
                }
            }
        }
    }
    &__content--hidden {
        display: none;
    }

    &__blurred {
        filter: blur(10px);
    }

    &__toggle {
        display: block;
        cursor: pointer;
        width: 100%;
        margin-top: 15px;
        padding-bottom: 16px;
        background-repeat: no-repeat;
        background-position: center bottom;
        text-align: center;
        font-size: 14px;
        color: rgba(#fff, .7);
        text-transform: uppercase;
        font-family: $font-headline;
        font-weight: normal;
    }
    &__toggle--open {
        background-image: url(../images/icons_svg/dropdown.svg);
    }
    &__toggle--close {
        background-image: url(../images/icons_svg/dropdown-reverse.svg);
    }

    &__overlay {
        position: absolute;
        text-align: center;
        bottom: 10px;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        width: 100%;
        padding: 50px;
        max-width: 770px;
        background: rgba(#000, .5);
        border: 2px solid #FFFFFF;
        border-radius: 10px;
        z-index: 80;
    }
}