.scroller {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-bottom: $gutter-m;
    @media screen and (max-width: 800px) {
        overflow: visible;
        height: auto !important;
        .scroller-content {
            display: none;
            &:first-of-type {
                display: block;
            }
        }
    }
    .scroller-belt, .scroller-content {
        overflow: auto;
    }
    .scroller-content {
        h2 {
            font-size: 24px !important;
            font-weight: 500 !important;
            margin-bottom: $gutter-m;
        }
        p {
            margin-bottom: $gutter-l;
        }
    }
    &--fade-white {
        &:before, &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 15%;
            left: 0;
            z-index: 10;
            @media screen and (max-width: 800px) {
                display: none;
            }
        }
        &:before {
            top: 0;
            background-image: linear-gradient(rgba(#fff, 1), rgba(#fff, 0));
        }
        &:after {
            bottom: 0;
            background-image: linear-gradient(rgba(#fff, 0), rgba(#fff, 1));
        }
    }
    &.fadeOut-lightgrey-2 {
        &:before, &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 15%;
            left: 0;
            z-index: 10;
            @media screen and (max-width: 800px) {
                display: none;
            }
        }
        &:before {
            top: 0;
            background-image: linear-gradient($color-lightgrey-2, rgba($color-lightgrey-2, 0));
        }
        &:after {
            bottom: 0;
            background-image: linear-gradient(rgba($color-lightgrey-2, 0), $color-lightgrey-2);
        }
    }
}
* + .scroller {
    margin-top: $gutter-l;
}