.section {
    --color-text: #000;
    width: 100%;
    padding: 100px 25px 60px 25px;
    
    // Modifiers
    &--same-padding {
        padding: 60px 25px;
    }
    &--no-padding-top {
        padding-top: 0 !important;
    }
    &--no-padding-bottom {
        padding-bottom: 0 !important;
    }
    &--overflow-protection {
        overflow-y: visible;
        overflow-x: hidden;
    }

    // Headers
    &--index-header {
        position: relative;
        background-image: url(../images/illus/startpage-header-lotta-jamie-illustration-colored.png);
        background-size: 585px auto;
        background-position: calc(50% + 292px) bottom;
        background-repeat: no-repeat;
        padding-top: 60px;
        padding-bottom: 150px;
        >* {
            position: relative;
            z-index: 2;
        }
        &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 150px;
            z-index: 1;
            background-image: linear-gradient(180deg, rgba(#EDF2E2, 0), #EDF2E2 100%);
        }

        @media screen and (max-width: 1000px) {
            background-position: center bottom;
            background-size: auto 375px;
            padding-bottom: 320px !important;
        }
    }

    // Backgrounds
    &--light-grey {
        background: #f2f2f2;
    }

    &--light-green {
        background-color: #EDF2E2;
    }

    &--white-grey-white {
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(235, 235, 235, 0.51) 46.88%, rgba(196, 196, 196, 0) 100%, rgba(255, 255, 255, 0) 100%);
    }

    &--grey-white {
        background: linear-gradient(180deg, #F0F0F0 0%, #FFFFFF 100%);
    }
    &--white-grey {
        background-image: linear-gradient(180deg, #fff 0%, #fafbf6 100%);
    }

    &--light-grey-green {
        background: linear-gradient(180deg, #F2F2F2 0%, rgba(#EDF2E2, 0.3) 100%);
    }

    &--light-green-white {
        background: linear-gradient(180deg, #EDF2E2 70%, rgba(#EDF2E2, 0) 100%);
    }
    &--light-green-white-2 {
        background: linear-gradient(180deg, #EDF2E2 0%, rgba(#EDF2E2, 0) 100%);
    }

    &--light-green-white-map {
        background-image: linear-gradient(180deg, #EDF2E2 calc(70% - 550px), rgba(#EDF2E2, 0) calc(100% - 550px)), url(../images/photos/bg-map.jpg);
        background-position: top center, bottom center;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    &--light-green-white-homeoffice {
        background-image: linear-gradient(180deg, #EDF2E2 calc(70% - 550px), rgba(#EDF2E2, 0) calc(100% - 550px)), url(../images/photos/faded-out-homeoffice.jpg);
        background-position: top center, bottom center;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    &--dark-green-black {
        --color-text: #fff;
        background: linear-gradient(180deg, #213327 0%, #000000 100%);
    }

    &--white-blue {
        background-image: linear-gradient(180deg, #FFFFFF 0%, #ECF9FF 100%);
    }

    &--white-purple {
        background-image: linear-gradient(180deg, #FFFFFF 0%, #FFF0FD 100%);
    }

    &--black {
        --color-text: #fff;
        background-color: #000;
    }

    &--black-grey {
        --color-text: #fff;
        background-image: linear-gradient(358.98deg, rgba(255, 255, 255, 0.2) 0.47%, rgba(255, 255, 255, 0) 95.48%);
        background-color: #000;
    }

    &--wave-animation {
        position: relative;
        overflow: hidden;
        .section__content {
            position: relative;
            z-index: 1;
        }
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: url(../images/illus/swoooooooosh.svg);
            background-repeat: no-repeat;
            background-position: 55% 70%;
            z-index: 0;
        }
        &:after {
            content: "";
            position: absolute;
            width: 561px;
            height: 562px;
            bottom: -180px;
            left: 50%;
            background-image: url(../images/illus/money-hand-illustration.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            transform: rotate(0deg);
            transform-origin: center bottom;
            animation: wave 3s infinite ease;
            z-index: 0;
        }

        @media screen and (max-width: 960px) {
            padding-bottom: 35vw !important;

            &:before {
                display: none;
            }
            &:after {
                width: 76vw;
                height: 76vw;
                left: calc(50% - 38vw);
                bottom: -35vw;
            }
        }
    }
    @keyframes wave {
        50% {
            transform: rotate(15deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    // Homepage Section
    &--home-slider {
        display: none;
        padding-bottom: 0 !important;
        background-repeat: no-repeat;
        background-position: calc(50% + 475px) center, calc(50% + 585px) center, center;
        background-size: auto, 731px, auto;

        @media screen and (max-width: 960px) {
            background-repeat: no-repeat;
            background-position: center 150px, center;
            background-size: 731px, auto;

            .index-card {
                margin-left: -25px;
                width: calc(100% + 50px);
            }
        }
    }
    &--home-slider-active {
        display: block;
    }
    &--home-slider-1 {
        background-image: url(../images/backgrounds_png/integrations-full.png), url(../images/backgrounds_svg/bg-fullcircle-red.svg), linear-gradient(360deg, #FFF0F3 0%, #FFFFFF 100%);
        @media screen and (max-width: 960px) {
            background-image: url(../images/backgrounds_svg/bg-fullcircle-red.svg), linear-gradient(360deg, #FFF0F3 0%, #FFFFFF 100%);
        }
    }
    &--home-slider-2 {
        background-image: url(../images/backgrounds_png/callcenter-bot-full.png), url(../images/backgrounds_svg/bg-fullcircle-orange.svg), linear-gradient(360deg, #FFF5E9 0%, #FFFFFF 100%);
        @media screen and (max-width: 960px) {
            background-image: url(../images/backgrounds_svg/bg-fullcircle-orange.svg), linear-gradient(360deg, #FFF5E9 0%, #FFFFFF 100%);
        }
    }
    &--home-slider-3 {
        background-image: url(../images/backgrounds_png/queue-full.png), url(../images/backgrounds_svg/bg-fullcircle-magenta.svg), linear-gradient(360deg, #FFF0FD 0%, #FFFFFF 100%);
        @media screen and (max-width: 960px) {
            background-image: url(../images/backgrounds_svg/bg-fullcircle-magenta.svg), linear-gradient(360deg, #FFF0FD 0%, #FFFFFF 100%);
        }
    }
    &--home-slider-4 {
        background-image: url(../images/backgrounds_png/analytics-full.png), url(../images/backgrounds_svg/bg-fullcircle-blue.svg), linear-gradient(360deg, #ECF9FF 0%, #FFFFFF 100%);
        @media screen and (max-width: 960px) {
            background-image: url(../images/backgrounds_svg/bg-fullcircle-blue.svg), linear-gradient(360deg, #ECF9FF 0%, #FFFFFF 100%);
        }
    }

    // Work Section (/ueber-uns)
    &--work-bg {
        position: relative;
        overflow: hidden;
        &:after {
            content: "";
            position: absolute;
            z-index: -1;
            bottom: -40px;
            left: 47.5%;
            width: 100%;
            height: 588px;
            max-width: 754px;
            background-image: url(/assets/images/backgrounds_svg/work-background.svg);
            background-repeat: no-repeat;
            background-position: center bottom;
        }
        @media screen and (max-width: 1220px) {
            // padding-bottom: var(--gutter-l) !important;
            &:after {
                left: 50%;
                transform: translate3d(-50%, 200px, 0);
            }
        }
    }

    &__content {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        color: var(--color-text);
        max-width: 960px;
        > h1 {
            font-family: $font-copy;
            font-weight: normal;
            font-size: 38px;
            line-height: 1.25;
            margin-bottom: var(--gutter-s);
            &+p {
                font-size: 20px;
                line-height: 1.5;
            }
            .bubble {
                background-color: $color-primary;
                border-radius: 100px;
                font-family: $font-headline;
                font-weight: normal;
                font-size: 16px;
                margin-left: 20px;
                padding: 5px 13px;
                display: inline-block;
                vertical-align: middle;
                margin-top: -5px;
                @media screen and (max-width: 800px) {
                    display: none;
                }
            }
            .headline-tag {
                background-color: #c4c4c4;
                border-radius: 10px;
                font-family: $font-headline;
                font-size: 18px;
                line-height: 27px;
                padding: 0 8px;
            }
            @media screen and (max-width: 900px) {
                font-size: 28px;
            }
        }
        > h2 {
            margin-top: var(--gutter-xl);
        }
        >h1, >h2, >h3 {
            &+p.centered {
                max-width: 770px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        h3 {
            &+* {
                margin-top: 20px;
            }
        }
        &+.section__content {
            margin-top: var(--gutter-xl);
        }
    }
    &__content--narrow {
        max-width: 770px;
    }
    &__content--wide {
        max-width: 1170px;
    }
    &__content--gutter-top {
        margin-top: 70px;
    }
    &__content--shadow {
        background: #FFFFFF;
        border: 2px solid rgba(#000, 0.2);
        box-shadow: 0px 4px 18px rgba(#000, 0.25);
        border-radius: 10px;
        padding: 30px;
    }
}

@media screen and (max-width: 1000px) {
    .section {
        padding: 50px 25px;

        &--mobile-divider {
            padding-bottom: 50px !important;
            border-bottom: 2px solid rgba(#000, .3);

            &+.section {
                padding-top: 50px !important;
            }
        }
    }
}