.tablist+*, *+.tablist {
    margin-top: var(--gutter-l);
}

.tablist {
    position: relative;
    height: auto;

    &__links {
        --fullBg: transparent;
        --fullBgSticky: #fff;

        position: relative;
        margin-bottom: -2px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        background-color: var(--fullBg);
    }
    &__links--full-width {
        .tablist__link {
            flex: 1;
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__links--sticky {
        position: fixed;
        z-index: 99;
        left: auto;
        right: auto;
        border-radius: 0 0 10px 10px;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 10px 10px rgba(#000, .2);
        top: var(--navigationHeightScrolled); // Navigation Height
        background-color: var(--fullBgSticky);
        color: #000;
        overflow: hidden;
        opacity: 1 !important;
        transition: opacity .3s ease;

        .tablist__link {
            flex: initial !important;
            padding: var(--gutter-xs) var(--gutter-s);
            font-size: 0;
            white-space: nowrap;
            flex-direction: row;
            align-items: center;
            border: 0;

            img {
                display: inline-block;
                width: 24px;
                vertical-align: middle;
                margin-right: 10px;
            }
            strong {
                font-size: 18px;
                display: inline-block;
                vertical-align: middle;
                // display: none;
            }
            span {
                display: none;
            }
            &[data-sticky-text] {
                strong {
                    display: none;
                }
                &:after {
                    content: attr(data-sticky-text);
                    font-size: 18px;
                    font-family: $font-headline;
                    font-weight: normal;
                    line-height: 1.4;
                }
            }
        }

        .tablist__link--active {
            border-radius: 0;
            background-color: var(--stickyBg);
        }
    }

    &__link {
        --bg: rgba(#{$color-primary-rgb}, .2);
        --stickyBg: var(--bg);

        border: 2px solid transparent;
        border-bottom-color: #e5e5e5;
        padding: 15px 100px 17px 100px;
        text-align: center;
        font-family: $font-copy;
        font-size: 14px;
        line-height: 1.4;
        cursor: pointer;
        opacity: .75;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
            display: block;
            width: auto;
            height: 48px;
            margin-right: var(--gutter-xs);
        }
        strong {
            font-family: $font-headline;
            font-weight: normal;
            font-size: 24px;
            line-height: 1.2;
            display: block;

            span {
                display: block;
                font-family: $font-headline;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                opacity: .5;

                &.subtext {
                    font-family: $font-copy;
                    text-transform: none;
                    font-size: 14px;
                    line-height: 1.4;
                    opacity: 1;
                    letter-spacing: normal;
                }
            }
        }
    }
    &__link--smaller {
        padding: 15px;
    }
    &__link--active {
        background-color: var(--bg);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-color: #e5e5e5;
        border-bottom-color: transparent;
        padding-bottom: 15px;
        opacity: 1;
    }

    &__indicators {
        display: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    &__indicator {
        border-radius: 50%;
        width: 6px;
        height: 6px;
        background-color: #c4c4c4;
        &+.tablist__indicator {
            margin-left: 6px;
        }
    }
    &__indicator--active {
        width: 10px;
        height: 10px;
        background-color: $color-primary;
    }

    &__arrow {
        position: absolute;
        display: none;
        width: 16px;
        height: 32px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        top: 50%;
        transform: translateY(-50%);
    }
    &__arrow--left {
        background-image: url(../images/icons_svg/backward-chevron-icon.svg);
        left: 0;
    }
    &__arrow--right {
        background-image: url(../images/icons_svg/forward-chevron-icon.svg);
        right: 0;
    }

    &__content {
        display: none;

        >*:first-child {
            border-top-left-radius: 0;
            border-top-right-radius: 0;

            &:not(.paper) {
                padding-top: var(--gutter-l);
            }
        }

        h2 {
            font-family: $font-headline;
            font-weight: normal;
            font-size: 38px;
            line-height: 1.2;
            margin-top: 20px;

            @media screen and (max-width: 800px) {
                font-size: 28px;
            }
        }

        >p {
            max-width: 770px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__content--active {
        display: block;
    }
    &__content--border-bottom {
        border-bottom: 2px solid rgba(#000, .2);
    }

    &__content--red-footer {
        background-image: url(../images/illus/connection-illustration--dimmed.svg),
            url(../images/backgrounds_svg/red-circle.svg);
        background-position: calc(100% - 30px) bottom, center bottom;
        background-repeat: no-repeat;
        margin-bottom: 50px;
    }
    &__content--yellow-footer {
        background-image: url(../images/illus/automation-illustration--dimmed.svg),
            url(../images/backgrounds_svg/yellow-circle.svg);
        background-position: calc(100% - 30px) bottom, center bottom;
        background-repeat: no-repeat;
        margin-bottom: 50px;
    }
    &__content--purple-footer {
        background-image: url(../images/illus/queue-illustration--dimmed.svg),
            url(../images/backgrounds_svg/purple-circle.svg);
        background-position: calc(100% - 30px) bottom, center bottom;
        background-repeat: no-repeat;
        margin-bottom: 50px;
    }
    &__content--blue-footer {
        background-image: url(../images/illus/statistics-illustration--dimmed.svg),
            url(../images/backgrounds_svg/blue-circle.svg);
        background-position: calc(100% - 30px) bottom, center bottom;
        background-repeat: no-repeat;
        margin-bottom: 50px;
    }

    &--on-black {
        .tablist__links {
            --fullBg: rgba(134, 237, 24, 0.2);
            border-radius: 10px 10px 0 0;
        }
        .tablist__links--sticky {
            border-radius: 0 0 10px 10px;
        }
        .tablist__link, .tablist__link--active {
            border: none;
        }
        .tablist__arrow {
            filter: invert(1);
        }
    }
}

@media screen and (max-width: 1170px) {
    .tablist {
        &__links {
            flex-wrap: wrap;
            position: relative;
            padding: 0 46px;
            border-bottom: 2px solid #e5e5e5;
            background-color: transparent;
        }
        &__links--sticky {
            position: relative;
            z-index: initial;
            left: initial;
            right: initial;
            border-radius: 0;
            width: auto;
            left: auto;
            transform: none;
            overflow: initial;
            box-shadow: none;
            top: auto;
            background-color: initial;
            
            .tablist__link {
                flex: initial;
                padding: 15px 0 17px 0;
                font-size: initial;
                white-space: initial;
                // flex-direction: column;
                background-color: transparent;
    
                img {
                    // display: block;
                    width: 48px;
                    height: auto;
                    // margin-right: auto;
                }
                strong {
                    font-size: 20px;
                }
                span {
                    display: block;
                }
                &[data-sticky-text] {
                    strong {
                        display: block;
                    }
                    &:after {
                        display: none;
                    }
                }
            }
        }
        &__sticky-placeholder {
            display: none;
        }
        &__link {
            padding-left: 0;
            padding-right: 0;
            display: none;
            border: 0;
            background-color: transparent;
            strong {
                font-size: 20px;
            }
        }
        &__link--active {
            display: flex;
        }
        &__indicators {
            display: flex;
        }
        &__arrow {
            display: block;
        }
        &--on-black {
            .tablist__links--sticky {
                background-color: unset;
                .tablist__link {
                    font-size: 14px;
                }
            }
            .tablist__links {
                border-color: rgba(#fff, .2);
            }
        }
        &__content--border-bottom {
            border: 0;
        }
        &__content--red-footer, &__content--yellow-footer, &__content--purple-footer, &__content--blue-footer {
            background: none;
            margin-bottom: 0;
        }
    }
}