.tags {
    display: flex;
    flex-wrap: wrap;
    
    .tag {
        margin-right: var(--gutter-xs);
    }
}

.tag {
    --color: #fff;
    --bg: #b3b3b3;
    --size: 18px;
    --marginBottom: 15px;

    padding: 0 8px;
    line-height: 1.5;
    font-family: $font-headline;
    font-weight: normal;
    font-size: var(--size);
    border-radius: 18px;
    background-color: var(--bg);
    color: var(--color);
    display: table;
    margin-bottom: var(--marginBottom);
    width: auto !important;
    white-space: nowrap;

    &--inline {
        display: inline-table;
    }

    img {
        height: 14px;
        display: inline-block;
        margin-right: 8px;
    }
}