.tooltip {
    position: relative;
    width: 28px;
    height: 28px;
    display: inline-block;
    border-radius: 50%;
    background-color: rgba($color-primary, .2);
    vertical-align: middle;
    cursor: help;
    flex-shrink: 0;
    flex-grow: 0;
    
    &--light {
        background-color: rgba(#fff, .2);
    }

    &--dark {
        background-color: rgba(#000, .2);
    }

    &:before {
        content: "?";
        position: absolute;
        color: #fff;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }

    >* {
        display: none;
        position: absolute;
        z-index: 90;
        width: 280px;
        padding: 15px;
        background-color: #000;
        border-radius: 5px;
        top: calc(100% + 15px);
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        font-family: $font-copy;
        font-size: 16px;
        line-height: 1.4;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate3d(-50%, -100%, 0);
            border-bottom: 15px solid #000;
            border-right: 15px solid transparent;
            border-left: 15px solid transparent;
        }
    }

    &--top {
        >* {
            top: -15px;
            transform: translate3d(-50%, -100%, 0);
            &:before {
                border-top: 15px solid #000;
                border-bottom: 0;
                top: auto;
                bottom: 0;
                transform: translate3d(-50%, 100%, 0);
            }
        }
    }

    &--open {
        >* {
            display: block;
        }
    }
}