.co-video {
    position: relative;

    &__poster {
        img {
            border-radius: 10px;
            display: block;
            width: 100%;
        }
    }

    &__play {
        --size: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        background-color: $color-primary;
        transition: all .3s ease;
        cursor: pointer;
        box-shadow: 0 0 20px rgba(#000, .2);

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: calc(50% + 3px);
            transform: translate3d(-50%, -50%, 0);
            border-left: calc(var(--size) / 4) solid #000;
            border-top: calc(var(--size) / 5) solid transparent;
            border-bottom: calc(var(--size) / 5) solid transparent;
        }

        &:hover {
            transform: translate3d(-50%, -50%, 0) scale(1.1);
        }
    }
}