/node_modules/
*:Zone.Identifier
/assets/videos/Callone-Casestudy-Check24-720p.webm
/assets/videos/Callone-Casestudy-Check24-720p.mp4
/assets/videos/callone-tableau.webm
/assets/videos/callone-tableau.mp4
/log