<div class="callone-modal" data-modal="contact-sales" data-title="Contact Sales">
    <div class="callone-modal__step">
        <div class="worker-select">
            <h2>Wie groß ist Ihre Organisation?</h2>
            
            <input type="range" min="1" max="200" step="1" value="10" data-callone-range data-output="#workers" data-width="480" />
            
            <div class="workers">
                <input type="text" id="workers" /> Mitarbeiter<span> oder mehr&hellip;</span>
            </div>
            
            <button class="btn btn--secondary callone-modal__nextstep">Weiter</button>
        </div>
    </div>

    <div class="callone-modal__step">
        <div class="worker-evaluation worker-evaluation--enough">
            <div class="radio-select">
                <div class="radio-select__item">
                    <input type="radio" id="topic1" name="topic" value="form" checked />
                    <label for="topic1">
                        <img src="assets/images/icons_svg/benefit-highlighter.svg" alt="">
                        <h3>Senden Sie uns eine Nachricht</h3>
                        <p>Kontaktformular nutzen</p>
                    </label>
                </div>
                <div class="radio-select__item">
                    <input type="radio" id="topic2" name="topic" value="calendar" />
                    <label for="topic2">
                        <img src="assets/images/icons_svg/benefit-highlighter.svg" alt="">
                        <h3>Buchen Sie direkt einen Termin</h3>
                        <p>Telefon- oder Videocall vereinbaren</p>
                    </label>
                </div>
            </div>

            <button class="btn btn--secondary btn--centered callone-modal__nextstep">Weiter</button>
        </div>

        <div class="worker-evaluation worker-evaluation--not-enough" style="display: none">
            <h2>Wir sind noch nicht so weit &hellip;</h2>
            <p>Danke für die Anfrage, wir fühlen uns geschmeichelt. Wir lieben kleine Unternehmen, sie sind das Rückgrat unserer Branche. Doch leider haben wir noch keine adäquaten Lösungen für sie parat, da sie aktuell zu umfassend und damit zu teuer für Unternehmen unter 10 Mitarbeitenden sind. </p>
            <a href="https://blog.hubspot.de/service/call-center-software" target="_blank">
                <div>
                    <p><strong>Blogartikel</strong></p>
                    <p>Anbieter für Flatrate-Businesstelefonie</p>
                </div>
            </a>                  
            <p>Absagen sind immer frustrierend. Deswegen möchten wir Ihnen ein paar sehr gute Telefonie-Anbieter für kleine Unternehmen empfehlen. Viel Erfolg mit Ihrem zukünftigen Telefonie-Partner!</p>
        </div>
    </div>

    <div class="callone-modal__step" data-canceltext="Abbrechen">
        <div class="sales-contact-form">
            <h2>Fast geschafft!</h2>
            <p class="centered">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et quam earum quasi velit quae nulla ex tenetur harum dolorem alias veritatis nobis placeat perferendis, accusamus officia repellendus. Quia, tempore autem!</p>

            <form action="#" method="post" class="floating-form">
                <div class="floating-form__row">
                    <div class="floating-form__col">
                        <div class="floating-form__field">
                            <input type="text" name="name" placeholder=" " />
                            <label>Ihr Name *</label>
                        </div>
                    </div>
                    <div class="floating-form__col">
                        <div class="floating-form__field">
                            <input type="text" name="company" placeholder=" " />
                            <label>Firmenname *</label>
                        </div>
                    </div>
                </div>
                <div class="floating-form__row">
                    <div class="floating-form__col">
                        <div class="floating-form__select">
                            <select name="contactperson" data-callone-select>
                                <option value="">Sie sind Ansprechpartner für *</option>
                                <option value="Sales">Sales</option>
                                <option value="Finanzen">Finanzen</option>
                                <option value="Support">Support</option>
                                <option value="Technik">Technik</option>
                            </select>
                        </div>
                    </div>
                    <div class="floating-form__col">
                        <div class="floating-form__select">
                            <select name="challenge" data-callone-select>
                                <option value="">Herausforderung Ihrer Firma *</option>
                                <option value="Wachstum">Wachstum</option>
                                <option value="Kundengewinnung">Kundengewinnung</option>
                                <option value="Anderes">Anderes</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="floating-form__row">
                    <div class="floating-form__col">
                        <div class="floating-form__field">
                            <input type="text" name="phone" placeholder=" " />
                            <label>Geschäftliche Telefonnummer *</label>
                        </div>
                    </div>
                    <div class="floating-form__col">
                        <div class="floating-form__field">
                            <input type="email" name="email" placeholder=" " />
                            <label>Geschäftliche E-Mail *</label>
                        </div>
                    </div>
                </div>

                <button type="submit" class="floating-form__submit btn btn--primary btn--full-width btn--arrow-right callone-modal__nextstep">Kontaktformular absenden</button>
            </form>

            <p class="centered">oder kontaktieren Sie uns per Telefon/E-Mail falls Ihre Anfrage nicht in das Formular passt:</p>

            <div class="sales-contact-form__details">
                <div>
                    <p><img src="assets/images/icons_svg/telephony-indicator.svg" alt="" /> <strong>Anruf:</strong> <a href="tel:+493092033500">+49 (0) 30 - 920 33 500</a></p>
                </div>
                <div>
                    <p><img src="assets/images/icons_svg/mail-indicator.svg" alt="" /> <strong>E-Mail:</strong> <a href='mail&#116;&#111;&#58;&#105;nf%6F&#64;cal&#108;%6Fn%65&#46;de'>inf&#111;&#64;call&#111;&#110;e&#46;&#100;e</a></p>
                </div>
            </div>
        </div>

        <div class="sales-contact-calendar" style="display: none">
            [CALENDAR]
        </div>
    </div>

    <div class="callone-modal__step" data-steptitle="Bestätigung" data-canceltext="Schließen">
        <h2>Super, wir sind kontaktiert!</h2>
        <p class="centered">Ihre Kontaktanfrage hat uns erreicht und wir melden uns baldmöglichst bei Ihnen. Folgende Schritte erwarten Sie vom ersten Kontakt bis zum fällen Ihrer Entscheidung:</p>

        <div class="step-slider">
            <div class="step-slider__steps">
                <div class="step-slider__step step-slider__step--active">
                    <h2>Besprechung Ihrer Anforderungen</h2>
                    <p>Lassen Sie uns kurz über Ihre Anforderungen sprechen. Wir nehmen uns Zeit und beraten Sie ehrlich.</p>
                </div>
                <div class="step-slider__step">
                    <h2>Demo Zugang</h2>
                    <p>Sie bekommen einen komplett funktionalen Demo-Zugang und wir zeigen Ihnen, was die Telefonanlage kann.</p>
                </div>
                <div class="step-slider__step">
                    <h2>Analyse</h2>
                    <p>Wir machen kostenfrei eine Verkehrsmessung, analysieren Ihr System, Ihre Strukturen, Ihren Traffic.</p>
                </div>
                <div class="step-slider__step">
                    <h2>Live-Session &amp; Lösungen</h2>
                    <p>Aus den Ergebnissen setzen wir Ihre Telefonanlage so auf, als wären Sie bereits Kunde bei uns. Das ist unser Investment in Sie.</p>
                </div>
                <div class="step-slider__step">
                    <h2>Testen & Finetuning</h2>
                    <p>Sie testen und prüfen ohne Risiko oder Kosten, wir stehen Ihnen mit Antworten zur Seite. Dann entscheiden Sie, ob wir Sie überzeugen konnten.</p>
                </div>
            </div>
            <div class="step-slider__slider" data-left="Erste Kontaktaufnahme" data-right="Ihre Entscheidung">
                <div class="step-slider__range">
                    <div class="step-slider__handle"></div>
                </div>
            </div>
            <div class="step-slider__hint">
                Hinweis: Ziehen Sie den Schieberegler über den Zeitstrahl um alle Schritte zu sehen.
            </div>
        </div>
    </div>
    
    <script>
        // Steps Slider
        let stepSliders = document.querySelectorAll('.step-slider');
        stepSliders.forEach(s => {
            new stepSlider(s);
        });

        // Form Selects
        const selectBoxes = document.querySelectorAll('[data-callone-select]');
        selectBoxes.forEach(s => {
            new Select(s);
        });

        // Range Slider
        let rangeSliders = document.querySelectorAll('[data-callone-range]');
        rangeSliders.forEach(rangeSlider => {
            new Range(rangeSlider);

            rangeSlider.addEventListener('change', e => {
                let currentValue = e.target.value;
                let barrier = 10;
                let workersExtra = document.querySelector('.workers span');
                let buttonNext = document.querySelector('.worker-select .callone-modal__nextstep');

                // Check if max number is selected and display additional text
                if (currentValue == e.target.max) {
                    workersExtra.style.display = 'inline';
                } else {
                    workersExtra.style.display = 'none';
                }

                // Check if barrier is reached
                let enoughBox = document.querySelector('.worker-evaluation--enough');
                let notEnoughBox = document.querySelector('.worker-evaluation--not-enough');
                if (currentValue < barrier) {
                    enoughBox.style.display = 'none';
                    notEnoughBox.style.display = 'block';
                } else {
                    enoughBox.style.display = 'block';
                    notEnoughBox.style.display = 'none';
                }
            });
        });

        // Toggle Form or Calendar, depending on what has been selected on the previous step
        let topicSelectors = document.getElementsByName('topic');
        topicSelectors.forEach(t => {
            t.addEventListener('click', e => {
                if (t.checked) {
                    let salesContactForm = document.querySelector('.sales-contact-form');
                    let salesContactCalendar = document.querySelector('.sales-contact-calendar');
                    if (t.value == 'form') {
                        salesContactForm.style.display = 'block';
                        salesContactCalendar.style.display = 'none';
                    } else if (t.value == 'calendar') {
                        salesContactForm.style.display = 'none';
                        salesContactCalendar.style.display = 'block';
                    }
                    return;
                }
            });
        });
    </script>
</div>
