<div class="callone-modal" data-modal="modal-with-steps">
    <div class="callone-modal__step" data-steptitle="Schritt 1">
        <p>Schritt 1</p>
        <a href="#" class="btn btn--primary callone-modal__nextstep">Nächster Schritt</a>
    </div>
    
    <div class="callone-modal__step">
        <p>Schritt 2 ohne Titel</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos soluta beatae, modi nesciunt ab atque cumque incidunt maxime labore distinctio perferendis pariatur fuga est nemo enim, quas, eaque quidem? Ad?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos soluta beatae, modi nesciunt ab atque cumque incidunt maxime labore distinctio perferendis pariatur fuga est nemo enim, quas, eaque quidem? Ad?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos soluta beatae, modi nesciunt ab atque cumque incidunt maxime labore distinctio perferendis pariatur fuga est nemo enim, quas, eaque quidem? Ad?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos soluta beatae, modi nesciunt ab atque cumque incidunt maxime labore distinctio perferendis pariatur fuga est nemo enim, quas, eaque quidem? Ad?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos soluta beatae, modi nesciunt ab atque cumque incidunt maxime labore distinctio perferendis pariatur fuga est nemo enim, quas, eaque quidem? Ad?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos soluta beatae, modi nesciunt ab atque cumque incidunt maxime labore distinctio perferendis pariatur fuga est nemo enim, quas, eaque quidem? Ad?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos soluta beatae, modi nesciunt ab atque cumque incidunt maxime labore distinctio perferendis pariatur fuga est nemo enim, quas, eaque quidem? Ad?</p>
        <a href="#" class="btn btn--primary callone-modal__nextstep">Nächster Schritt</a>
    </div>

    <div class="callone-modal__step">
        <p>Schritt 3 ohne Titel</p>
    </div>
</div>