/*
 * Animations
 */

.animation {
	position: relative;
	height: 100%;
	display: block;
	min-height: 550px;
	
	@media screen and (max-width: 800px) {
		width: 100%;
		height: 100%;
		min-height: 500px;
	    max-height: 500px;
	    margin-bottom: -$gutter-l;
	}
	
	@media screen and (max-width: 555px) {
		min-height: 400px;
	    max-height: 400px;
		 margin-bottom: -$gutter-l;
	}
}

.grid {
	.animation {
		#lottie {
			z-index: 0;
		}
	}
}

#lottie {
    width: 161%;
    height: 180%;
    display: block;
    position: absolute;
    left: -29%;
    top: -63%;
    z-index: -1;
	svg {
		width: 100%;
		height: 100%;
		display: block;
		position: relative;
	}
	&.calltracking {
	    width: 100%;
	    height: auto;
	    position: relative;
	    left: 0;
	    top: 0;
	    z-index: 1;
	}
	&.business {
		width: 125%;
	    height: 140%;
	    left: -17%;
	    top: -20%;
	}
	&.sales {
		width: 125%;
	    height: 140%;
	    left: -18%;
    	top: -18%;
	}
	&.kundenservice {
		left: -24%;
    	top: -45%;
	}
	&.price {
		left: -31%;
    	top: -51%;
	}
	&.job {
	    width: 141%;
	    height: 150%;
	    left: -27%;
	    top: -27%;
  }
  &.inline {
		width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  } 
  
	
	@media screen and (max-width: 800px) {
	   	width: 120%;
	    height: 120%;
	    left: -10%;
	    top: calc(-10% - 80px);
	    max-width: 120%;
	    
	    &.sales, &.business {
	        width: 100%;
		    height: 100%;
		    left: 0;
		    top: -$gutter-m;
		    max-width: 100%;
    	}
	    
	    &.job {
		    width: 110%;
		    height: 110%;
		    left: -5%;
		    top: calc(-5% - 40px);
		    max-width: 110%;
	    }
	    
	    &.kundenservice {
	        left: -5%;
    		top: calc(-10% - 60px);
	    }
	    
	    &.price {
			width: 120%;
		    height: 120%;
		    left: -10%;
		    top: calc(-10% - 80px);
		    max-width: 120%;
	    }
	}
	
	@media screen and (max-width: 555px) {
		&.business {
    		top: -$gutter-l;
    	}
		&.sales {
		    left: -$gutter-s;
    		top: -$gutter-l;
    	}
    }
}