.breather {
  background-color: #000;
  color: #fff;
  .content {
    max-width: 800px;
    text-align: center;
    padding: 120px 50px;
    > h1, .h1 {
		padding-top: 0;
    }
    &.left {
    	text-align: left;
    }
    &.small  {
    	padding: 80px 50px;
    }
    .shadow-box {
    	> h1, > .h1 {
    		color: $color-secondary-1;
    	}
    	.formSuccess {
    		color: $color-secondary-1;
    		min-height: auto;
    	}
    	.form {
    		.button-set {
    			margin-top: $gutter-s;
    			.button {
    				width: 100%;
    				cursor: pointer;
    				&:hover {
    					background-color: #fff;
    					border-color: $color-primary;
    				}
    				&.tertiary {
    					background-color: $color-primary;
    					border-color: $color-primary;
    					&:hover {
    						background-color: $color-secondary-1;
    						border-color: $color-secondary-1;
    					}
    				}
    			}
    		}
    	}
    }
    .parallel {
    	.col-2 {
    		display: flex;
    		flex-direction: row;
    		.image {	
    			padding: $gutter-s $gutter-m $gutter-s 0;
    			margin-right: $gutter-m;
    			border-right: $gutter-s solid #fff;
    			width: 25%;
    			min-width: $gutter-xl + 10;
    		}
    		.text {
				width: 75%;
				word-break: break-all;
    		}
    		.sl, .sl::before {
    			font-size: 50px;
    		}

			.image {
				&.primary {
					border-color: $color-primary;
				}
				&.secondary-2 {
					border-color:  $color-primary;
				}
				&.secondary-3 {
					border-color:  $color-primary;
				}	
			}
    		.icon {
    			height: 50px;
    		}
    	}
	    @media screen and (max-width: 670px) {
	    	.col-2 {
    			flex-direction: column;
    			.image  {
    				border: 0 none;
    				padding: $gutter-s;
    				margin-bottom: $gutter-m;
    				margin-right: 0;
    				width: 100%;
    				text-align: center;
    			}
    			.text {
    				width: 100%;
    				text-align: center;
    			}
    			.sl, .sl::before {
	    			font-size: 64px;
	    		}
    			.icon {
	    			height: 64px;
	    		}
    		}
	    }
    }
    *+.parallel {
	    margin-top: 80px;
	}
    .sl {
    	color: #fff;
    }
  }
  .white-cricle {
	padding: 20px;
    background-color: #ffffff;
    border: 0 none;
    border-radius: 50px;
    width: 53px;
    height: 53px;
    display: block;
    margin: 0 auto;
    color: #000000;
    line-height: 18px;
    font-size: $font-size-l;
    font-weight: 500;
  }
}

@media screen and (max-width: 555px) {
	.breather {
		.content {
			padding-left: 20px;
			padding-right: 20px;
			.shadow-box {
				&.padding {
					padding: $gutter-l - 10px $gutter-m $gutter-m;
				} 
			}
		}
	}
}