.button {
  display: table;
  padding: $gutter-s + 1 $gutter-m $gutter-s - 1;
  font-family: 'apercu', sans-serif;
  font-size: $font-size-xxs;
  font-weight: 500;
  white-space: nowrap;
  letter-spacing: 2px;
  cursor: pointer;
  @media screen and (max-width: 400px) {
    white-space: inherit;
  }
  &.break {
  	white-space: inherit;
  }
  &.big {
	  padding: $gutter-s + 5px $gutter-xl;
	  font-size: $font-size-xs;
	  &.connectWord {
	  	min-width: auto;
	  }
  }
  &.mobileWrap {
  	white-space: inherit;
  }
  &.rounded {
    border-radius: 100px;
    font-family: $font-headline;
    letter-spacing: 0.1em;
    // font-weight: 700;
    font-size: 16px;
  }
  &.small-rounded {
    border-radius: 6px;
    font-family: $font-headline;
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 16px;
  }
  &--block {
    display: block;
  }
  &--fullwidth {
    width: 100%;
    text-align: center;
  }
  &--inline {
    display: inline-block;
  }
  &--wider {
    padding-left: $gutter-l;
    padding-right: $gutter-l;
  }
  &--noletterspacing {
    letter-spacing: normal !important;
  }
  &--anchor {
    &:after {
      content: "";
      background-image: url(../images/icons_svg/jump-to-anchor.svg);
      width: 16px;
      height: 16px;
      display: inline-block;
      margin-left: $gutter-s;
      vertical-align: middle;
    }
  }
  &.primary {
    background-color: $color-secondary-1;
    border: 2px solid $color-secondary-1;
    color: $color-primary;
    text-transform: uppercase;
    &:hover {
      background-color: #ffffff;
      color: $color-secondary-1;
      border-color: $color-primary;
    }
  	&.borderless {
  		background-color: $color-primary;
	    border: none;
	    color: $color-secondary-1;
	    text-transform: uppercase;
  	}
  	&.silent {
  		background-color: inherit;
	    border: none;
	    color: $color-primary;
	    text-transform: none;
	    font-weight: 400;
  	}
  }
  &.secondary {
    background-color: #fff;
    border: 2px solid $color-primary;
    color: #000;
    text-transform: uppercase;
    &:hover {
      background-color: $color-secondary-1;
      border-color: $color-secondary-1;
      color: $color-primary;
    }
    &.silent {
  		background-color: inherit;
	    border: none;
	    color: $color-secondary-1;
	    text-transform: none;
	    font-weight: 400;
  	}
  	&.black {
  		background-color: $color-secondary-1;
	    border: 2px solid $color-secondary-1;
	    color: #fff;
  	}
  }
  &.tertiary {
    background-color: $color-primary;
    border: 2px solid $color-primary;
    color: #000;
    text-transform: uppercase;
    &:hover {
      background-color: $color-secondary-1;
      border-color: $color-secondary-1;
      color: $color-primary;
    }
    &.silent {
  		background-color: inherit;
	    border: none;
	    color: $color-secondary-1;
	    text-transform: none;
	    font-weight: 400;
	    &.white {
	    	color: #fff;
	    }
  	}
  	&.black {
  		color: $color-secondary-1 !important;
  		&:hover {
	      	background-color: #fff;
	      	border-color: #fff;
	      	color: $color-secondary-1 !important;
      	}
  	}
  	&.black2 {
  		color: #fff;
  		background-color: #000;
  		border-color: #000;
      line-height: 30px;
  		&:hover {
	      	background-color: $color-primary;
	      	border-color: $color-primary;
	      	color: #000 !important;
      	}
  	}
  }
  &.white-shadow {
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15), 0px 4px 20px rgba(0, 0, 0, 0.05);
    color: #000;
    &:hover {
      background-color: $color-primary;
    }
  }
  &.quaternary, &.quinary {
  	--notchSize: 6px;
  	-webkit-clip-path:
  	polygon(0% var(--notchSize),
  	var(--notchSize) 0%,
  	calc(100% - var(--notchSize)) 0%,
  	100% var(--notchSize),
  	100% calc(100% - var(--notchSize)),
  	calc(100% - var(--notchSize)) 100%,
  	var(--notchSize) 100%,
  	0% calc(100% - var(--notchSize)));
  	clip-path:
  	polygon(0% var(--notchSize),
  	var(--notchSize) 0%,
  	calc(100% - var(--notchSize)) 0%,
  	100% var(--notchSize),
  	100% calc(100% - var(--notchSize)),
  	calc(100% - var(--notchSize)) 100%,
  	var(--notchSize) 100%,
  	0% calc(100% - var(--notchSize)));
  	transition: all .2s ease-in-out;
  	text-transform: uppercase;
  	color: white;
  	background: #000000;
  	letter-spacing: 1px;
  	border: 6px;
  	border-style: solid;
  	border-image-source: linear-gradient(180deg, #9BA3A2, #626A69);
  	border-image-slice: 1;

  	padding: 15px 20px;
  	display: inline-flex;
  	align-items: center;
  	top: 50%;
  	margin: 20px 0;

  	&:hover {
   	  transform: scale(1.1);
		  color: white;
		  background-color: #000;
		  border: 6px;
		  border-style: solid;
		  border-image-source: linear-gradient(180deg, #AAEA39, #86EC16);
		  border-image-slice: 1;
  		.play-icon {
  			filter: invert(0.5)
  		}
  	}

  	.play-icon {
  		margin-right: 10px;
  	}
  }

  .button__icon {
    display: inline-block;
    vertical-align: middle;
    &.icon-jump-forward {
      background-image: url(../images/icons_svg/jump-forward-arrow-icon.svg);
      width: 20px;
      height: 20px;
      transition: all 0.3s ease;
    }
    &.icon-documentation {
      background-image: url(../images/icons_svg/documentation-icon.svg);
      width: 26px;
      height: 26px;
      transition: all 0.3s ease;
    }
    &.icon-integrations, &.icon-reporting, &.icon-automatization, &.icon-analysis, &.icon-alarm, &.icon-collaboration {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 1em;
      height: 1em;
      transition: all 0.3s ease;
      margin-right: 10px;
    }
    &.icon-integrations {
      background-image: url(../images/icons_svg/integrations-icon.svg);
    }
    &.icon-reporting {
      background-image: url(../images/icons_svg/reporting-icon.svg);
    }
    &.icon-automatization {
      background-image: url(../images/icons_svg/automatization-icon.svg);
    }
    &.icon-analysis {
      background-image: url(../images/icons_svg/analysis-icon.svg);
    }
    &.icon-alarm{
      background-image: url(../images/icons_svg/alarm-icon.svg);
    }
    &.icon-collaboration{
      background-image: url(../images/icons_svg/collaboration-icon.svg);
    }
  }
  &:hover {
    .icon-jump-forward {
      filter: invert(1);
    }
  }

  &.icon {
    background-color: #f1f1f1;
    color: #000;
    border-radius: 10px;
    padding: 15px 25px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: normal;
    font-family: $font-headline;
    &:hover {
      background-color: $color-primary;
    }
  }

  &.transparent-border {
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    .icon-jump-forward {
      filter: invert(1);
    }
    &:hover {
      background-color: $color-primary;
      color: #000;
      border-color: $color-primary;
      .icon-jump-forward {
        filter: invert(0);
      }
    }
  }

  &.quinary {
  	border: 6px solid #65976F;
  	&:hover {
  		background-color: #000;
  		border-image-source: linear-gradient(180deg, #9BA3A2, #626A69);
  	}
  }
  &.senary {
	transition: all .2s ease-in-out;
	text-transform: uppercase;
	color: white;
	background: #000000;
	letter-spacing: 1px;
	border: 3px solid $color-primary;
	&:hover {
	  	  transform: scale(1.1);
	}
	&.silent {
  		background-color: inherit;
	    border: 2px solid $color-secondary-1;
	    color: $color-secondary-1;
	    text-transform: none;
	    font-weight: 400;
	    &.white {
	    	color: #fff;
	    	border-color: #fff;
	    }
	    &.black {
	   		color: $color-secondary-1;;
	    	border-color: $color-secondary-1;
	    }
  	}
  }

  &.secondary-silent {
  }
  &.expertmode {
    position: relative;
    text-transform: uppercase;
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    padding-right: calc(#{$gutter-m} * 2 + 50px);
    &:hover {
      border-color: $color-primary;
    }
    &:before {
      content: "";
      position: absolute;
      top: $gutter-s;
      right: $gutter-m;
      width: 50px;
      height: calc(100% - (2 * #{$gutter-s}));
      background-color: #fff;
      border: 2px solid #000;
    }
    &:after {
      content: "";
      position: absolute;
      width: 21px;
      height: calc(100% - (2 * #{$gutter-s}) - 8px);
      background-color: #000;
      top: calc(#{$gutter-s} + 4px);
      right: calc(#{$gutter-m} + 25px);
    }
    &.active {
      border-color: $color-primary;
      background-color: $color-primary;
      &:hover {
        border-color: #000;
      }
      &:before {
        background-color: #000;
      }
      &:after {
        background-color: #fff;
        right: calc(#{$gutter-m} + 4px);
      }
    }
  }
}

.icon-before-app {
	padding: 0px 5px 4px;
    font-size: initial;
    vertical-align: middle;
    line-height: initial;
    top: -4px;
    position: relative;
    background-color: $color-primary;
	> img {
		height: 14px;
	    top: 2px;
	    position: relative;
	}
}

.button-set {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: -$gutter-m;
  &.centered {
    justify-content: center;
  }
  &.edge-button {
  	padding-top: 20px;
  	position: relative;
  	.button {
  		position: absolute;
	    top: 0px;
	    left: $gutter-l;
  	}
  	.return + .button {
  		left: 150px;
  	}
  	.return.desktop-hidden + .button {
  		left: 40px;
  	}
  }
  &.fullWidth {
  	width: 100%;
  }
  &.no-wrap {
  	flex-wrap: nowrap;
  }
  .button {
    margin-right: $gutter-m;
    margin-bottom: $gutter-m;
    line-height: normal;
    &:last-child {
    	margin-right: 0;
    }
    &.no-margin-bottom {
    	margin-bottom: 0;
    }
    &:hover {
    	transition: all .3s ease;
    }
  }
  .connectWord {
  	font-weight: 600;
  	color: rgba(255, 255, 255, 0.4);
  	align-items: center;
  	text-transform: uppercase;
  	margin: 0;
  }
}

.faq-partial {
	.button-set {
		margin-top: 0;
	}
}

@media screen and (max-width: 1024px) {
 	.button {
  		  &.big {
			  padding: $gutter-s + 5px $gutter-m;
			  min-width: 38%;
		  }
  	}
}

@media screen and (max-width: 800px) {
  .button-set {
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
  	.button {
  		margin-right: 0;
  		margin-bottom: $gutter-s;
  		&.connectWord {
  			margin-top: $gutter-s;
  		}
  		width: 100%;
	}
	&.edge-button {
	  	.return.desktop-hidden + .button {
	  		left: 0px;
	  	}
  	}
  }
}

p+.button-set {
  margin-top: $gutter-l;
}

/* switch for checkboxes */
.switch {
	position: relative;
	display: inline-block !important;
	width: 66px !important;
	height: 100% !important;
	min-height: 36px;
	max-width: 66px!important;
    min-width: 66px!important;
  	input {
		opacity: 0;
		width: 0;
		height: 0;

		height: 100%;
	    width: 100%;
	    margin: 0 !important;
	}
	.switchSlider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #f2f2f2;
		-webkit-transition: .4s;
		transition: .4s;
		border: 2px solid #000;
		&::before {
		    position: absolute;
		    content: "";
		    height: 24px;
		    width: 25px;
		    left: 6px;
		    bottom: 4px;
		    background-color: #000;
		    transition: .4s;
		}
	}

	&.checked {
		input + .switchSlider {
		  background-color: #86ed18;
		}

		input:focus + .switchSlider {
		   	box-shadow: none;
	    	outline: none;
		}

		input + .switchSlider:before {
		  -webkit-transform: translateX(26px);
		  -ms-transform: translateX(26px);
		  transform: translateX(26px);
		}
	}
}

.contact-form {
  .button-set {
    margin-top: $gutter-l;
    margin-bottom: $gutter-l;
    .button {
      border: 2px solid transparent;
      // font-size: $font-size-m;
      // font-family: $font-copy;
      font-family: 'PxGroteskBold', sans-serif;
      font-size: $font-size-xxs;
      font-weight: normal;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.3s ease;
      &.primary {
        background-color: $color-primary;
        color: #000;
        border-color: #000;
      }
      &.secondary {
        background-color: #fff;
        border-color: $color-primary;
        color: #000;
      }
      &:hover {
        background-color: #000;
        border-color: #fff;
        color: #fff;
      }
    }
  }
}

.breather {
  .content {
    .button-set {
      justify-content: center;
      margin-top: 80px;
      .button.primary {
        border-color: #fff;
      }
    }
  }
}
