/*
 * Container - open and close content
 */

.container, .accordion {
	padding: 0;
	border: 2px solid $color-secondary-1;
	margin: $gutter-m 0;
	background-color: #fff;
	position: relative;
	.title {
		cursor: pointer;
		padding: $gutter-m - 2 $gutter-m $gutter-m - 2 $gutter-l + 30 + 18;
		&:before {
			left: 30px;
			font-family: "streamline" !important;
			content: "\e24B";
			font-size: 16px;
			line-height: 1.2;
			font-weight: 600;
			position: absolute;
			margin-top: 3px;
		}
	}
	
	&.blank, &.list {
		border: none;
		margin: 0;
		.title {
			padding: $gutter-s $gutter-m;
			font-size: 14px;
			margin: 0;
			&::before {
				content: none;
			}
		}
		.content {
			padding: $gutter-s $gutter-m $gutter-m;
		}
		&:last-child {
			border-bottom: none;
		}
		
		&.open {
			.title {
				&:before {
					content: none;
				}
			}
			&.black {
				background-color: $color-secondary-1;
				.title {
					background-color: $color-secondary-1;
					color: $color-primary;
					border: 2px solid $color-secondary-1;
				}
				.content {
					color: #fff;
					input[type="text"], input[type="email"], input[type="tel"], textarea {
						&:focus {
							border-color: #fff;
						}
					}
				}
			}
		}		
	}
	
	&.list {
	    border-bottom: 1px solid #f2f2f2;
	    padding: 10px 40px 10px 35px !important;
	    margin-top: 0 !important;
	    margin-bottom: 0 !important;	    
	    &::before {
	    	padding-top: 10px;
	    	margin-left: 10px;
	    }
	    &::after {
	    	content: "\e5ca";
	    	font-family: "streamline";
	    	right: 10px;
		    position: absolute;
		    top: 7px;
		    font-size: 20px;
	    }
		.title {
			font-weight: 400;
			font-family: apercu;
			font-size: inherit;
			padding: initial;
		}
		&.open {
			&::after {
				-webkit-transform: rotate(180deg);
			    -moz-transform: rotate(180deg);
			    -ms-transform: rotate(180deg);
			    -o-transform: rotate(180deg);
			    transform: rotate(180deg);
			}
		}
		&:hover {
			background-color: initial;
			color: initial;
			&::after {
				color: $color-primary;
			}
		}
		.content {
			padding: 10px 10px 20px 0;
			font-size: initial;
		}
	}
	
	.content {
		display: none;
		margin: 0;
		padding-left: $gutter-l + 30 + 18;
		padding-bottom: $gutter-m - 2;
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	&:hover {
		background-color: #000;
		color: #fff;
		.content {
			a {
				transition: none;
				color: #fff !important;
				&:hover {
					transition: all .3s ease;
					color: $color-primary !important;
				}
			}
		}
	}
	
	&.open {
		.title {
			&:before {
				content: "\e271";
			}
		}
	}
	
	@media screen and (max-width: 800px) {
		margin: 0;
		border-top: 2px solid $color-secondary-1;
		border-left: 0 none;
		border-right: 0 none;
		border-bottom: 0 none;
		&:last-child {
			border-bottom: 2px solid $color-secondary-1;
		}
		
		.title {
			cursor: pointer;
			padding-left: $gutter-m;
			margin-left: 48px;
			font-size: $font-size-xs;
		}
		.content {
			padding-left: $gutter-m + 30 + 18;
			font-size: $font-size-xs;
			font-weight: 300;
		}
	}
}

.accordion {
	background-color: transparent;
}

.wrapper {
	.content {
		.accordion {
			p {
				color: initial;
			}
		}
	}
}
 