.floating-form {
    --gutter: 30px;

    >*+* {
        margin-top: var(--gutter);
    }

    &__row {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    &__col {
        flex: 1 1 0px;
        width: 0;
        &+.floating-form__col {
            margin-left: var(--gutter);
        }
    }

    &__field {
        position: relative;
        border: 2px solid #c4c4c4;
        border-radius: 5px;
        input, textarea, label {
            font-size: 18px;
            font-family: $font-copy;
            line-height: 1.6;
        }
        textarea {
            resize: none;
        }
        label {
            position: absolute;
            top: 12px;
            left: 25px;
            pointer-events: none;
            color: rgba(#000, .6);
            transition: all .3s ease;
            background-color: #fff;
            overflow: hidden;
            max-width: calc(100% - 60px);
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        input, textarea {
            display: block;
            width: 100%;
            padding: 10px 25px;
            color: #000;
            &:focus, &:not(:placeholder-shown) {
                &~label {
                    transform: translateY(calc(-50% - 12px));
                    padding: 0 5px;
                    left: 20px;
                    font-size: 12px;
                }
            }
        }
        .customSelect {
            position: relative;
            height: 48px;
            .select-hide {
                display: none;
            }
            .select-items {
                position: absolute;
            }
        }
    }

    &__submit {
        background-color: $color-primary;
        color: #000;
        text-transform: uppercase;
        display: block;
        border-radius: 100px;
        padding: 15px 40px;
        margin: 50px auto;
        font-family: $font-headline;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.35;
        letter-spacing: .1em;
        cursor: pointer;
        transition: all .3s ease;
        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
    &__submit--fullwidth {
        width: 100%;
    }

    &__error {
        border-radius: 6px;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-red;
        padding: 10px;
        margin-bottom: 25px;
        text-align: center;
        h2 {
            font-size: 18px;
            margin-bottom: 10px;
        }
        p {
            font-size: 16px;
        }
    }
    &__error--active {
        display: flex;
    }
}

@media screen and (max-width: 800px) {
    .floating-form {
        &__row {
            flex-direction: column;
        }

        &__col {
            &+.floating-form__col {
                margin-left: 0;
                margin-top: 25px;
            }
        }
    }
}