/* LEGAL DISCLAIMER
 *
 * These Fonts are licensed only for use on these domains and their subdomains:
 * callone.de
 *
 * It is illegal to download or use them on other websites.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Optimo webfonts are protected by copyright law and provided under license. To modify, alter, translate, convert, decode or reverse engineer in any manner whatsoever, including converting the Font Software into a different format is strictly prohibited. The webfont files are not to be used for anything other than web font use.
 *
 * optimo.ch
 */

/* INSTRUCTIONS
 *
 * Copy the Legal Disclaimer, the domains name and the @font-faces statements to your regular CSS file. The fonts folder(s) should be placed relative to the regular CSS file.
 */
@font-face {
    font-family: 'Px Grotesk';
    font-display: swap;
    src: url('../fonts/Px-Grotesk-Bold/Px-Grotesk-Bold.woff2') format('woff2'),
        url('../fonts/Px-Grotesk-Bold/Px-Grotesk-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

// Apercu
@font-face {
    font-family: 'apercu';
    font-display: swap;
    src: url('../fonts/apercu-light-pro-web/apercu-light-pro.eot');
    src: url('../fonts/apercu-light-pro-web/apercu-light-pro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/apercu-light-pro-web/apercu-light-pro.woff') format('woff'),
         url('../fonts/apercu-light-pro-web/apercu-light-pro.woff2') format('woff2'),
         url('../fonts/apercu-light-pro-web/apercu-light-pro.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'apercu';
    font-display:swap;
    src: url('../fonts/apercu-regular-pro-web/apercu-regular-pro.eot');
    src: url('../fonts/apercu-regular-pro-web/apercu-regular-pro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/apercu-regular-pro-web/apercu-regular-pro.woff') format('woff'),
         url('../fonts/apercu-regular-pro-web/apercu-regular-pro.woff2') format('woff2'),
         url('../fonts/apercu-regular-pro-web/apercu-regular-pro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'apercu';
    font-display:swap;
    src: url('../fonts/apercu-medium-pro-web/apercu-medium-pro.eot');
    src: url('../fonts/apercu-medium-pro-web/apercu-medium-pro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/apercu-medium-pro-web/apercu-medium-pro.woff') format('woff'),
         url('../fonts/apercu-medium-pro-web/apercu-medium-pro.woff2') format('woff2'),
         url('../fonts/apercu-medium-pro-web/apercu-medium-pro.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'streamline';
    src: url('../fonts/streamline/streamline.eot');
    src: url('../fonts/streamline/streamline.eot?#iefix') format('embedded-opentype'),
         url('../fonts/streamline/streamline.woff') format('woff'),
         url('../fonts/streamline/streamline.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.ff-headline, .font-primary {
	font-family: 'Px Grotesk';
}

.ff-copy, .font-secondary {
	font-family: 'apercu';
}

.fw400 {
    font-weight: 400;
}

.fw500 {
    font-weight: 500;
}

.fw700 {
  font-weight: 700;
}
