/*
* RESETS / DEFAULTS
*/
* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	&:before, &:after {
		box-sizing: border-box;
	}
}

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

html, body {
	min-height: 100%;
	font-family: $font-copy;
	font-weight: 400;
	font-size: $font-size-s;
	line-height: 1.5;
	@media screen and (max-width: 770px) {
		font-size: $font-size-xs;
	}
}

a {
	text-decoration: none;
	transition: all 0.3s ease;
}

img {
	max-width: 100%;
}

/*
* HEADLINES
*/
h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
	font-family: $font-headline;
	line-height: 1.2;
}
.headline__icon {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

	> span {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		.icon-callone {
			background-color: #b2b2b2;
			color: #fff;
			border-radius: 20px;
			padding: 6px 10px;
			font-size: 14px;
			font-weight: 700;
			line-height: 1;
			&:before {
				content: "";
				width: 1em;
				height: 1em;
				display: inline-block;
				margin-right: 5px;
				vertical-align: middle;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				background-image: url(../images/icons_svg/callone-feature-indicator.svg);
			}
		}
		.headline__text {
			font-family: $font-copy;
			font-size: 28px;
			line-height: 28px;
			font-weight: 400;
			margin-top: 10px;
		}
	}
}

.white {
	color: #ffffff;
}
.black {
	color: #000;
}

.fade {
	-webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
	mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
}

.fade-left {
	-webkit-mask-image: linear-gradient(to left, black 0%, transparent 50%);
	mask-image: linear-gradient(to left, black 0%, transparent 50%);
}

.font-headline {
	font-family: $font-headline !important;
}

h3, .h3 {
	font-size: $font-size-l;
	@media screen and (max-width: 670px) {
		font-size: $font-size-m;
		margin-bottom: $gutter-s;
	}
}

h3, .h3 {
	&.small {
		font-size: $font-size-s;
	}
}

h4, .h4 {
	font-size: $font-size-m;
}

.lazy {
	visibility: "hidden";
}

.tag-above {
	position: relative;
	.tag {
		position: absolute;
		top: -10px;
		left: 50%;
		transform: translate(-50%, -100%);
		background-color: #b2b2b2;
		color: #fff;
		border-radius: 20px;
		padding: 6px 10px;
		font-size: 14px;
		font-weight: 700;
		line-height: 1;
		&:before {
			content: "";
			width: 1em;
			height: 1em;
			display: inline-block;
			margin-right: 5px;
			vertical-align: middle;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
		&.icon-callone {
			&:before {
				background-image: url(../images/icons_svg/callone-feature-indicator.svg);
			}
		}
	}
}

input, textarea, button {
	outline: none;
}

/*
* PARAGRAPHS
*/
p {
	font-family: $font-copy;
	&.primary {
		font-size: $font-size-s;
	}
	&.secondary {
		font-size: $font-size-xs;
	}
	&+p {
		margin-top: var(--gutter-m);
		@media screen and (max-width: 670px) {
			margin-top: var(--gutter-xs);
		}
	}
}

hr {
	border-bottom: 2px solid $color-secondary-1;
	margin: $gutter-l 0;
}

.light {
	font-weight: 300;
}
.bold {
	font-weight: 500;
}
.centered {
	text-align: center;
}
.vcentered {
	align-items: center;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.subtext {
	font-size: 14px;
}
.noOverflow {
	overflow: hidden;
	.button-set{
		margin-bottom: 0;
	}
}
.desktop-hidden{
	display: none !important;
}
.error404 {
	text-align: right;
	font-size: 200px;
	vertical-align: top;
	line-height: 60%;
}
.headline {
	display: block;
}
.no-margin {
	margin: 0 !important;
}
.no-padding {
	padding: 0 !important;
}
.no-padding-top {
	padding-top: 0 !important;
}
.no-padding-bottom {
	padding-bottom: 0 !important;
}
.no-margin-top {
	margin-top: 0 !important;
}
.no-margin-bottom {
	margin-bottom: 0 !important;
}
.margin-top-40 {
	margin-top: 40px !important;
}
.padding-top-10 {
	padding-top: 10px !important;
}
.padding-top-20 {
	padding-top: 20px !important;
}
.padding-top-80 {
	padding-top: 80px !important;
}
.padding-bottom-80 {
	padding-bottom: 80px !important;
}
.overflow-hidden {
	overflow: hidden;
}

.omr-badge, .icon-card {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	background-color: rgba(#000, 0.5);
	border-radius: 10px;
	padding: $gutter-m $gutter-l;
	&__icon {
		display: flex;
		flex: 0 0 50px;
		margin-right: $gutter-l;
		img {
			width: 50px;
			display: block;
		}
	}
	&__text {
		flex-grow: 1;
		padding: 0 $gutter-l 0 0;
		font-size: 18px;
		strong {
			font-size: 28px;
			font-family: $font-headline;
		}
	}
	&__button {
		.button.tertiary.rounded:hover {
			border-color: $color-primary;
		}
	}
	@media screen and (max-width: 800px) {
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column;
		&__icon {
			margin-bottom: $gutter-m;
		}
		&__text {
			margin-bottom: $gutter-m;
			padding: 0;
			text-align: center;
		}
	}
}

.omr-badge {
	background-color: rgba(#fff, .2);
}

.icon-cards {
	a.icon-card:hover {
		.icon-card__text {
			color: $color-primary;
		}
	}
	.icon-card {
		background-color: #fff;
		border-radius: 10px;
		color: #000;
		&__text {
			transition: all .3s ease;
			h3 {
				font-family: $font-copy;
				font-weight: 500;
				font-size: 24px;
			}
		}
		&__button {
			display: flex;
			flex: 0 0 50px;
			width: 50px;
			height: 50px;
			background-image: url(../images/icons_svg/forward-arrow-icon.svg);
			background-size: 50%;
			background-position: center;
			background-repeat: no-repeat;
			cursor: pointer;
		}
		&+.icon-card {
			margin-top: $gutter-l;
		}
	}
}

.feature-box {
	background-color: #fff;
	border-radius: 10px;
	border: 2px solid #c6cbb3;
	padding: $gutter-m;
	margin-bottom: $gutter-m;
	&__icons {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		[class*='icon-'] {
			border-radius: 20px;
			padding: 6px 10px;
			font-size: 14px;
			margin-right: 10px;
			font-weight: 700;
			line-height: 1;
			&:before {
				content: "";
				width: 1em;
				height: 1em;
				display: inline-block;
				margin-right: 5px;
				vertical-align: middle;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
		.icon-callone {
			color: #fff;
			background-color: #525252;
			&:before {
				background-image: url(../images/icons_svg/callone-feature-indicator.svg);
			}
		}
		.icon-phone {
			color: #000;
			background-color: #ffb9b9;
			&:before {
				background-image: url(../images/icons_svg/telephony-indicator.svg);
			}
		}
		.icon-sms {
			color: #000;
			background-color: #76d5ff;
			&:before {
				background-image: url(../images/icons_svg/chat-indicator.svg);
			}
		}
		.icon-mail {
			color: #000;
			background-color: #ba76ff;
			&:before {
				background-image: url(../images/icons_svg/mail-indicator.svg);
			}
		}
		.icon-fax {
			color: #000;
			background-color: #ffe176;
			&:before {
				background-image: url(../images/icons_svg/fax-indicator.svg);
			}
		}
	}
	p {
		font-size: 24px;
		font-weight: 500;
		margin: 0 !important;
	}
}

.flex {
	display: flex;
	&.wrap {
		flex-wrap: wrap;
	}
	&.vcenter {
		align-items: center;
		align-self: center;
	}&.vend {
		align-items: end;
		align-self: end;
	}
}
.relative {
	position: relative;
}
.column {
	flex-direction: column;
}
.space-between {
	justify-content: space-between;
}
.primary-color {
	color: $color-primary;
}
.trenner {
	width: 30%;
	margin: 40px auto;
	border-width: 5px;
	border-color: rgba(0,0,0,0.05);
}
.color-green {
	color: $color-primary;
}

img {
	&.img-25 {
		width: 25%;
	}
	&.img-50 {
		width: 50%;
	}
	&.img-75 {
		width: 75%;
	}
	&.img-100 {
		width: 100%;
	}
}

@media screen and (max-width: 555px) {
	.star{
		display: block;
		font-size: $font-size-xl + 4;
	}
}

@media screen and (max-width: 670px) {
	.error404 {
		text-align: left;
		font-size: 100px;
		vertical-align: middle;
		line-height: 1;
	}
}

@media screen and (max-width: 1080px) {
	.tablet-hidden {
		display: none !important;
	}
}

@media screen and (max-width: 960px) {
	.tablet-centered {
		text-align: center;
	}
}

@media screen and (max-width: 820px) {
	.mobile-hidden{
		display: none !important;

		&+* {
			margin-top: 0 !important;
		}
	}
	.desktop-hidden{
		display: block !important;
		&.flex { 
			display: flex !important; 
		}
	}
	.mobile-left {
		text-align: left !important;
		img, .btn--centered {
			margin-left: initial !important;
			margin-right: initial !important;
		}
	}
	.mobile-centered {
		text-align: center;

		&.btn-set {
			justify-content: center;
		}
	}
	img {
		&.img-25, &.img-50, &.img-75, &.img-100 {
			width: 100%;
		}
	}
}

/*
* VIDEOS
*/
.video {
	position: relative;
	width: 100%;
	height: 0px;
	padding-bottom: 56.25%;
	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/*
* CONTENT
*/
.wrapper {
	width: 100%;

	.content {
		width: 100%;
		margin: 0 auto;
		padding: 0 $gutter-l;
		&:last-child {
			margin-bottom: $gutter-m;
		}
		&.no-gutter-bottom {
			&:last-child {
				margin-bottom: 0;
			}
		}
		&.narrow {
			max-width: 960px;
		}
		&.thin {
			max-width: 740px;
		}
		&.wide {
			max-width: 1200px;
			&.left, &.right {
				display: flex;
				flex-direction: column;
				text-align: initial;
				>.narrow {
					margin: 0;
					padding: 0;
				}
			}
			&.right {
				align-items: flex-end;
			}
			&.left {
				align-items: flex-start;
			}
		}
		&.background {
			background-color: rgba(0,0,0,0.7);
		}
		@media screen and (max-width: 800px) {
			&.mobileNoPadding {
				padding: 0;
			}
		}
		img {
			&.white {
				filter: saturate(0) grayscale(100%) brightness(1000%);
			}
			&.invert {
				filter: brightness(0) invert(1);
			}
		}
		> h1 {
			&+p {
				margin-bottom: $gutter-l;
			}
		}
		> h2 {
			font-size: 38px;
			font-weight: 400;
			font-family: $font-copy;
			width: 100%;
			max-width: 570px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: $gutter-l;
			text-align: center;
			@media screen and (max-width: 500px) {
				font-size: 32px;
			}
			&+p {
				width: 100%;
				max-width: 570px;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
			}
		}
		.subtitle {
			font-size: 16px;
			text-transform: uppercase;
			font-weight: 700;
			font-family: $font-headline;
			margin-bottom: $gutter-m;
			width: 100%;
			letter-spacing: 0.1em;
			max-width: 570px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
		*:not(p)+p, *+ul, *+h2 {
			margin-top: $gutter-m;
		}
		p {
			a:not(.button) {
				color: #000;
				border-bottom: 2px solid $color-primary;
				cursor: pointer;
				&:hover {
					color: $color-primary;
				}
			}
		}
		ul, ol {
			line-height: 2;
		}
		ul {
			list-style: none;
			li {
				padding-left: 1em;
				position: relative;
				&:before {
					content: "";
					position: absolute;
					left: 0;
					top: 0.7em;
					display: block;
					// display: inline-block;
					// margin-right: $gutter-s;
					width: 8px;
					height: 8px;
					background-color: $color-primary;
					border-radius: 50%;
				}
			}
			&.list {
				&.approved-list {
					li {
						text-align: left;
						padding-left: 1.5rem;
						margin: $gutter-s 0;
						line-height: 1.5;
						&:before {
							content: url("/assets/images/icons_svg/list-element.svg");
							width: 15px;
							height: auto;
							background-color: inherit;
							top: 0;
						}
					}
					&.approved-list--black:before {
						filter: brightness(0);
					}
				}
				&.big-list {
					font-size: $font-size-m;
					.accordion {
						&::after {
							top: 10px;
						}
					}
				}
			}
			&.menu {
				li {
					&:before {
						display: none;
					}
				}
			}
		}
		ol {
			counter-reset: ol-counter;
			list-style: none;
			li {
				counter-increment: ol-counter;
				&:before {
					content: counter(ol-counter) '.';
					font-weight: 500;
					padding-right: $gutter-s;
					color: $color-primary;
				}
			}
		}
		*+h3, *+.h3 {
			margin-top: $gutter-l;
		}
		h3+p, h3+ul, .h3+p, .h3+ul {
			margin-top: $gutter-m;
		}
		&+.content {
			margin-top: $gutter-xxl;
			&.no-gutter-top {
				margin-top: $gutter-l;
			}
			&.half-gutter-top {
				margin-top: 0;
			}
		}
	}
	
	@media screen and (max-width: 555px) {
		.content {
			padding: 0 $gutter-m;
			&+.content {
				margin-top: $gutter-l + 20;
			}
		}
	}
}


/*
* BLOCKQUOTES
*/
blockquote {
	padding: $gutter-l $gutter-xl;
	position: relative;
	* {
		z-index: 1;
	}
	img {
		max-width: 150px;
		display: block;
	}
	p:first-of-type + p {
		margin-top: $gutter-m;
	}
	&.no-padding {
		padding: 0;
	}
	&:after {
		content: "”";
		position: absolute;
		z-index: 0;
		color: #000;
		opacity: 0.1;
		font-size: 150px;
		bottom: 20px;
		right: 50px;
		font-family: $font-headline;
		transform: rotate(180deg);
		line-height: 1;
	}
	@media screen and (max-width: 770px) {
		padding: $gutter-l;
	}
	@media screen and (max-width: 670px) {
		padding: $gutter-l $gutter-l $gutter-xl;
		&:after {
			bottom: 0px;
			right: $gutter-m;
		}
	}
}

.pricetoggle {
	&__sticky {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: auto;
		z-index: 999;
		background-color: #000;
		display: none;
		&--active {
			display: block;
		}
	}
	&__stickybuttons {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: flex-end;
		width: 100%;
		max-width: 560px;
		margin: 0 auto;
	}
	&__stickybutton {
		text-align: center;
		padding: 20px 40px;
		position: relative;
		font-size: 20px;
		font-family: $font-headline;
		cursor: pointer;
		@media screen and (max-width: 800px) {
			font-size: 16px;
			padding: 10px;
		}
		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 4px;
			background-color: #fff;
		}
		&--active {
			color: $color-primary;
			&:before {
				background-color: $color-primary;
				height: 8px;
			}
		}
	}
	.pricetoggle__stickybutton + .pricetoggle__stickybutton {
		margin-left: 30px;
	}
	&__content {
		display: none;
		text-align: center;
		&--active {
			display: block;
		}
		> h2, > p {
			width: 100%;
			max-width: 540px;
			margin-left: auto;
			margin-right: auto;
		}
		> h2 {
			font-size: 28px;
		}
		> img {
			display: inline-block;
			margin: 60px auto;
		}
		.grid {
			font-size: 22px;
			font-family: $font-headline;
			font-weight: 700;
			line-height: 30px;
			margin: 60px auto;
			img {
				margin-bottom: 20px;
			}
			p {
				font-family: $font-copy;
				font-weight: 400;
				line-height: normal;
			}
		}
	}
	&__whitebox {
		background-color: #fff;
		border-radius: 10px;
		padding: 20px;
		max-width: 540px;
		width: 100%;
		margin: 60px auto;
		color: #000;
		text-align: left;
		.tag-behind {
			font-size: 24px;
			font-family: $font-copy;
			font-weight: 400;
			&:after {
				content: attr(data-tag);
				background-color: #000;
				color: #fff;
				padding: 2px 8px;
				font-size: 14px;
				margin-left: 10px;
				border-radius: 10px;
				display: inline-block;
				vertical-align: middle;
			}
		}
		.grid {
			font-size: 18px;
			padding-bottom: 15px;
			border-bottom: 1px solid #000;
			margin: 0 0 15px 0;
			font-family: $font-copy;
			font-weight: 400;
			.col-2 {
				padding: 0;
				margin: 0;
			}
			.col-2:nth-of-type(even) {
				text-align: right;
			}
		}
		.headline-tag {
			position: relative;
			font-size: 28px;
			font-family: $font-copy;
			&:after {
				content: attr(data-tag);
				background-color: #000;
				margin-left: 10px;
				color: #fff;
				font-family: $font-headline;
				border-radius: 10px;
				font-size: 18px;
				padding: 0 8px;
				vertical-align: middle;
			}
		}
		.headline-free {
			font-size: 40px;
			line-height: 48px;
			font-family: $font-headline;
		}
		ul {
			margin-bottom: 20px;
			margin-left: 1em;
			li {
				&:before {
					width: 32px !important;
					height: 32px !important;
					background-color: transparent !important;
					background-image: url(../images/icons_svg/icon-checkmark.svg);
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
					border-radius: 0 !important;
					top: auto !important;
					vertical-align: middle;
				}
			}
		}
		.usercalc {
			margin: 20px 0;
			&__form {
				&--inactive {
					display: none;
				}
				> p strong {
					font-family: $font-headline;
					font-size: $font-size-m;
					margin-bottom: $gutter-s;
					display: inline-block;
				}
			}
			&__result {
				display: none;
				&--active {
					display: block;
				}
			}
			&__box {
				border: 2px solid #000;
				border-radius: 10px;
				padding: 20px;
				margin: 20px 0;
				display: block;
			}
			&__header {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-items: center;
			}
			&__icon {
				padding-right: 20px;
			}
			&__title {
				padding-right: 20px;
				flex: 1;
				font-size: $font-size-xs;
				line-height: normal;
				strong {
					font-family: $font-headline;
					font-size: $font-size-m;
				}
			}
			&__users {
				border: 2px solid #e5e5e5;
				border-radius: 5px;
				font-size: 28px;
				display: inline-block;
				width: 95px;
				text-align: center;
				font-family: $font-headline;
				line-height: 33px;
				padding: 10px 20px;
				margin-right: 10px;
				&+span {
					font-size: 20px;
					line-height: 20px;
					font-family: $font-copy;
					font-weight: 400;
				}
			}
			&__price {
				font-size: 40px;
				font-family: $font-headline;
				font-weight: 700;
				line-height: 47px;
				margin-right: 10px;
				&+span {
					font-size: 20px;
					line-height: 20px;
					font-family: $font-copy;
					font-weight: 400;
					white-space: nowrap;
					display: inline-block;
				}
			}
			&__grid {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: center;
			}
			&__back {
				text-transform: uppercase;
				font-family: $font-headline;
				font-size: 14px;
				font-weight: 700;
				line-height: 17px;
				cursor: pointer;
				margin-bottom: 25px;
				span {
					width: 14px;
					height: 14px;
					background-image: url(../images/icons_svg/icon-back.svg);
					display: inline-block;
					background-size: contain;
					background-repeat: no-repeat;
					vertical-align: middle;
				}
			}
			&__total, &__total2 {
				text-align: right;
				font-size: 20px;
				line-height: 20px;
				span {
					display: block;
					font-size: 40px;
					font-family: $font-headline;
					line-height: 48px;
				}
			}
			&__callcenter {
				display: none;
				&--active {
					display: block;
				}
			}
			&__headline {
				font-size: 20px;
				span {
					font-size: 28px;
					line-height: 1.4;
					display: block;
				}
				&--tag {
					span::after {
						content: attr(data-tag);
						background-color: #000;
						color: #fff;
						font-family: $font-headline;
						padding: 2px 8px;
						font-size: 18px;
						margin-left: 10px;
						border-radius: 10px;
						display: inline-block;
						vertical-align: middle;
					}
				}
			}
			&__subheadline {
				font-size: 24px;
				line-height: 1.4;
				font-family: $font-headline;
				margin-bottom: 10px;
			}
			&__contact {
				> div {
					&+div {
						margin-top: 20px;
					}
				}
				label {
					font-size: 14px;
					font-family: $font-copy;
					display: block;
					margin-bottom: 5px;
					cursor: pointer;
				}
				input, textarea {
					width: 100%;
					display: block;
					border: 2px solid rgba(#000, .2);
					border-radius: 8px;
					padding: 14px 18px;
					font-size: 18px;
					font-family: $font-copy;
					line-height: 27px;
					resize: none;
				}
			}
			hr {
				width: 100%;
				height: 2px;
				background-color: rgba(#000, 0.4);
				border: 0;
				margin: 25px auto;
			}
			.subtext {
				color: rgba(#000, 0.5);
				font-size: 14px;
			}
			.small {
				font-size: 12px;
			}
			input[type='checkbox'] {
				display: none;
				&+label {
					cursor: pointer;
					.usercalc__checkbox {
						display: block;
						width: 26px;
						height: 27px;
						background-image: url(../images/icons_svg/checkbox-unchecked.svg);
					}
				}
				&:checked {
					&+label {
						.usercalc__checkbox {
							background-image: url(../images/icons_svg/checkbox-checked.svg);
						}
					}
				}
			}
			&__slider {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-items: center;
				margin: 35px 0;
				.prerange {
					background-color: #c4c4c4;
					width: 10%;
					height: 18px;
					border-radius: 9px 0 0 9px;
				}
				input[type=range] {
					appearance: none;
					width: 90%;
				}
				input[type=range]:focus {
					outline: none;
				}
				input[type=range]::-webkit-slider-runnable-track {
					width: 100%;
					height: 18px;
					cursor: pointer;
					background: $color-primary;
					border-radius: 0 9px 9px 0;
				}
				input[type=range]::-webkit-slider-thumb {
					height: 50px;
					width: 20px;
					border-radius: 8px;
					background: #000;
					cursor: pointer;
					appearance: none;
					margin-top: -16px;
				}
				input[type=range]:focus::-webkit-slider-runnable-track {
					background: $color-primary;
				}
				input[type=range]::-moz-range-track {
					width: 100%;
					height: 18px;
					cursor: pointer;
					background: $color-primary;
					border-radius: 0 9px 9px 0;
				}
				input[type=range]::-moz-range-thumb {
					height: 50px;
					width: 20px;
					border-radius: 8px;
					background: #000;
					cursor: pointer;
				}
				input[type=range]::-ms-track {
					width: 100%;
					height: 18px;
					cursor: pointer;
					background: transparent;
					border-color: transparent;
					border-width: 16px 0;
					color: transparent;
				}
				input[type=range]::-ms-fill-lower {
					background: darken($color-primary, 10%);
					border-radius: 0 9px 9px 0;
				}
				input[type=range]::-ms-fill-upper {
					background: $color-primary;
					border-radius: 0 9px 9px 0;
				}
				input[type=range]::-ms-thumb {
					height: 50px;
					width: 20px;
					border-radius: 8px;
					background: #000;
					cursor: pointer;
				}
				input[type=range]:focus::-ms-fill-lower {
					background: darken($color-primary, 10%);
				}
				input[type=range]:focus::-ms-fill-upper {
					background: $color-primary;
				}
			}
		}
	}
	&__buttons {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: nowrap;
		width: 100%;
		max-width: 560px;
		margin: 80px auto;
		@media screen and (max-width: 800px) {
			flex-direction: column;
			align-items: center;
			margin: 20px 0;
		}
	}
	&__button {
		border: 2px solid #fff;
		width: 100%;
		max-width: 270px;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 20px;
		cursor: pointer;
		transition: all 0.3s ease;
		img {
			display: block;
			margin-bottom: 30px;
		}
		h3 {
			font-family: $font-headline;
			font-weight: 700;
			font-size: 20px;
			margin-top: 0 !important;
		}
		&--active, &:hover {
			border-color: $color-primary;
		}
		@media screen and (max-width: 800px) {
			flex-direction: row;
			align-items: center;
			text-align: left;
			margin-bottom: 20px;
			padding: 15px;
			img {
				margin-bottom: 0;
				margin-right: 30px;
			}
			span {
				font-size: 20px;
			}
		}
	}
}

.installation {
	&__header {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		max-width: 570px;
		width: 100%;
		margin: 0 auto 60px auto;
	}
	&__logo {
		img {
			display: block;
		}
	}
	&__title {
		flex: 1;
		font-size: 28px;
		line-height: 1;
		.headline-tag {
			font-size: 18px;
			background-color: #c4c4c4;
			border-radius: 20px;
			padding: 5px 10px;
			margin-bottom: 16px;
			display: inline-block;
			&:before {
				content: "";
				width: 1em;
				height: 1em;
				display: inline-block;
				margin-right: 5px;
				vertical-align: middle;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				background-image: url(../images/icons_svg/callone-app-indicator-dark.svg);
			}
		}
	}
	&__rating {
		text-align: right;
		white-space: nowrap;
		font-size: 14px;
		line-height: 1;
		span {
			color: $color-primary;
			font-size: 30px;
			line-height: 1;
			margin-bottom: $gutter-xs;
			display: inline-block;
		}
		a {
			color: #000;
			font-weight: bold;
		}
	}
	&__content {
		border-radius: 20px;
		background-color: #000;
		color: #fff;
		padding: 80px;
		.subtitle {
			text-align: center;
			font-size: 16px;
			font-family: $font-headline;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			margin-bottom: 15px;
		}
		h2 {
			text-align: center;
			font-size: 36px;
			line-height: 54px;
			margin-bottom: 50px;
			font-family: $font-copy;
		}
		h3 {
			text-align: center;
			font-size: 28px;
			line-height: 34px;
			margin-bottom: 50px;
			margin-top: 60px;
			font-family: $font-headline;
		}
	}
	&__grid {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	&__col {
		text-align: center;
		font-size: 22px;
		font-family: $font-headline;
		img {  
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 30px;
		}
	}
	&__browsers {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		width: 100%;
		max-width: 570px;
		margin: 60px auto;
	}
	&__browser {
		border: 2px solid #fff;
		padding: 30px 30px 20px 30px;
		text-align: center;
		font-family: $font-headline;
		font-size: 24px;
		width: 174px;
		color: #fff;
		border-radius: 10px;
		&--active {
			border-color: $color-primary;
		}
		div {
			background-color: #fff;
			padding: 10px;
			width: 60px;
			height: 60px;
			border-radius: 50%;
			margin: 0 auto 20px auto;
			img {
				display: block;
				width: 40px;
			}
		}
	}
	&__button {
		display: none !important;
		&:hover {
			background-color: #fff !important;
			color: #000 !important;
			border-color: $color-primary !important;
			.button__icon {
				filter: invert(0) !important;
			}
		}
		&--active {
			display: table !important;
		}
	}

	@media screen and (max-width: 1000px) {
		&__content {
			padding: 20px;
		}
		&__grid {
			flex-direction: column;
		}
		&__col {
			&+.installation__col {
				margin-top: 20px;
			}
		}
	}
	@media screen and (max-width: 768px) {
		&__browsers {
			flex-direction: column;
		}
		&__browser {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			width: 100%;
			padding: 10px;
			font-size: 16px;
			margin: 0 10px;
			text-align: left;
	
			br {
				display: none;
			}
	
			div {
				width: 48px;
				height: 48px;
				margin: 0 20px 0 0;
			}
	
			&+.installation__browser {
				margin-top: 10px;
			}
		}
	}
}

.browsers {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-bottom: 45px;

	&__browser {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background-size: 40px;
		background-repeat: no-repeat;
		background-position: center;
		background-color: rgba(#c4c4c4, 0.3);
		&--chrome {
			background-image: url(../images/icons_png/google-chrome.png);
		}
		&--firefox {
			background-image: url(../images/icons_png/mozilla-firefox.png);
		}
		&--edge {
			background-image: url(../images/icons_svg/edge-logo.svg);
		}
		&--active {
			background-color: #fff;
			border: 4px solid #86EC16;
		}
	}
	.browsers__browser + .browsers__browser {
		margin-left: 25px;
	}
}

.sales-contact-form, .sales-callback-form {
	h2 {
		font-family: $font-headline;
		font-weight: normal;
		font-size: 28px;
		line-height: 33px;
		text-align: center;
		margin-bottom: 30px;
	}
	p {
		font-family: $font-copy;
		font-size: 20px;
		line-height: 1.5;
	}
}

// Application Modal Stuff
.person-name {
	border-bottom: 2px solid $color-primary;
}
h2.tag-above {
	position: relative;
	&:before {
		position: absolute;
		content: attr(data-tag);
		transform: translate3d(-50%, -100%, 0);
		top: 10px;
		left: 50%;
		display: block;
		background: #C4C4C4;
		border-radius: 10px;
		padding: 0 8px;
		font-family: $font-headline;
		font-weight: normal;
		font-size: 18px;
		line-height: 1.5;
		color: rgba(0, 0, 0, 0.7);
	}
}

address {
	font-style: normal;
	// font-weight: bold;
}


