/*
 * RESETS / DEFAULTS
 */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: border-box;
  }
}


html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

// @-moz-document url-prefix() {
//   body {
//     font-weight: lighter !important;
//   }
// }


html, body {
  min-height: 100%;
  font-family: $font-copy;
  font-weight: 400;
  font-size: $font-size-s;
  line-height: 1.5;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.expertmode-on {
  display: none;
}

/*
 * HEADLINES
 */
h1, h2, h3, h4,
.h1, .h2, .h2, .h2 {
  font-family: $font-headline;
  line-height: 1.2;
  font-weight: normal;
}

.white {
	color: #ffffff;
}
.black {
	color: #000;
}

h1, .h1 {
  font-size: $font-size-xxl;
  margin-bottom: $gutter-l;
  @media screen and (max-width: 670px) {
    font-size: $font-size-xl;
  }
  @media screen and (max-width: 550px) {
    font-size: $font-size-l;
    margin-bottom: $gutter-m;
  }
}

.h1.small {
	font-size: $font-size-xl + 7px;
}

h2, .h2 {
  font-size: $font-size-xl;
  margin-bottom: $gutter-l;
  @media screen and (max-width: 670px) {
    font-size: $font-size-l;
    margin-bottom: $gutter-m;
  }
}

h3, .h3 {
  font-size: $font-size-l;
  @media screen and (max-width: 670px) {
    font-size: $font-size-m;
    margin-bottom: $gutter-s;
  }
}

h4, .h4 {
  font-size: $font-size-m;
}

.h5 {
	font-size: $font-size-m - 1;
}
.topHeadline {
	text-transform: uppercase;
	font-size: 90%;
}
.fullHeadline-1 {
	padding: 10px 40px;
    background-color: #000;
    color: #fff;
    display: inline-block;
}
.fullHeadline-2 {
	padding: 10px 40px;
    background-color: #86ed18;
    display: inline-block;
}
@media screen and (max-width: 555px) {
	.fullHeadline-1 {
		font-size: 16px;
    	margin-top: 40px;
    	padding: 10px 10px;
	}
	.fullHeadline-2 {
		padding: 10px 10px;
	    font-size: 20px;
	}
}

.lazy {
	visibility: "hidden";
}

.font-primary {
	font-family: $font-headline;
}

.font-secondary {
	font-family: $font-copy;
}

input, textarea, button {
    outline: none;
}

/*
 * PARAGRAPHS
 */
p {
  font-family: $font-copy;
  &.primary {
    font-size: $font-size-s;
  }
  &.secondary {
    font-size: $font-size-xs;
  }
  &+p {
    margin-top: $gutter-l;
    @media screen and (max-width: 670px) {
      margin-top: $gutter-s;
    }
  }
}

hr {
	border-bottom: 2px solid $color-secondary-1;
	margin: $gutter-l 0;
}

.light {
  font-weight: 300;
}
.bold {
  font-weight: 500;
}
.uppercase {
	text-transform: uppercase;
}
.centered {
  text-align: center;
}
.centerContent {
	display: flex;
	justify-content: center;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.set-high {
	font-size: 75%;
	vertical-align: super;
}
.rotate-180 {
	-webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.star {
	color: #e7711b;
	font-size: $font-size-xl;
	vertical-align: middle;
}
.noOverflow {
	overflow: hidden;
	.button-set{
		margin-bottom: 0;
	}
}
.desktop-hidden{
	display: none !important;
}
.gradient-sw {
	background-image: linear-gradient(rgba(0,0,0,.72), #111)
}
.error404 {
    text-align: right;
    font-size: 200px;
    vertical-align: top;
    line-height: 60%;
}
.headline {
	display: block;
}
.no-margin {
	margin: 0 !important;
}
.no-padding {
	padding: 0 !important;
}
.no-margin-top {
	margin-top: 0 !important;
}
.no-margin-bottom {
	margin-bottom: 0 !important;
}
.margin-top-40 {
	margin-top: 40px !important;
}
.margin-top-80 {
	margin-top: 80px !important;
}
.margin-bottom-40 {
	margin-bottom: 40px !important;
}
.padding-top-10 {
	padding-top: 10px !important;
}
.padding-top-20 {
	padding-top: 20px !important;
}
.padding-top-40 {
	padding-top: 40px !important;
}
.padding-top-60 {
	padding-top: 60px !important;
}
.padding-top-80 {
	padding-top: 80px !important;
}
.padding-bottom-40 {
	padding-bottom: 40px !important;
}
.overflow-hidden {
	overflow: hidden;
}

.flex {
	display: flex;
	&.direction-column {
		flex-direction: column;
	}
	&.jc-center {
		justify-content: center;
	}
}
.relative {
	position: relative;
}
.underlineHeadline {
	border-bottom: 2px solid $color-primary;
}
.primaryColor {
	color: $color-primary;
}
.column {
	flex-direction: column;
}
.space-between {
	justify-content: space-between;
}
.primary-color {
	color: $color-primary;
}
.trenner {
    width: 30%;
    margin: 40px auto;
    border-width: 5px;
    border-color: rgba(0,0,0,0.05);
}

img {
	&.img-25 {
		width: 25%;
	}
	&.img-50 {
		width: 50%;
	}
	&.img-75 {
		width: 75%;
	}
	&.img-100 {
		width: 100%;
	}
}

@media screen and (max-width: 555px) {
    .star{
     	display: block;
     	font-size: $font-size-xl + 4;
	}
}

@media screen and (max-width: 670px) {
	.error404 {
	    text-align: left;
	    font-size: 100px;
	    vertical-align: middle;
	    line-height: 1;
    }
}

@media screen and (max-width: 800px) {
    .mobile-hidden{
     	display: none !important;
	}
	.desktop-hidden{
     	display: block !important;
     	&.flex { 
     		display: flex !important; 
     	}
	}
	img {
		&.img-25, &.img-50, &.img-75, &.img-100 {
			width: 100%;
		}
	}
}

/*
 * VIDEOS
 */
.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/*
 * CONTENT
 */
.wrapper {
  width: 100%;
  &.relative {
  	position: relative;
  }
  &.no-overflow {
    overflow: hidden;
  }
  &.no-margin-top {
  	margin-top: 0;
  }
  &.audioline {
	width: 100%;
	background-image: url("/assets/images/illus/audioline.svg");
	background-repeat: repeat-x;
	background-position: bottom;
	background-size: contain;
  }
  &.half-background {
    background-image: linear-gradient(#000, #000 65%, transparent 65%, transparent);
    &.grey-gradient {
   		background-image: linear-gradient(90deg, #0b0b0b, #3c3c3c);	
    }
    &.grey-gradient-reverse {
   		background-image: linear-gradient(-90deg, #0b0b0b, #3c3c3c);	
    }
    .content {
      position: relative;
      > h1, > .h1 {
        padding-top: 100px;
        display: block;
        &.p80 {
        	padding-top: 80px;
        }
      }
      > h2, > .h2 {
		padding-top: $gutter-xl;
		display: block;
      }
      > h1:first-of-type, > p:first-of-type, .white, > .h1, > h2, > .h2 {
        color: #fff;
      }
      
      .button-set {
	      justify-content: center;
	      .button.primary {
	      	border-color: #fff;
	      }
	  }
      .shadow-box {
      	&.marginTop {
      		position : relative;
      		top: 60px;
      		margin: 0 auto $gutter-xxl + $gutter-l;
      	}
      }
      h2 + .shadow-box {
      	&.marginTop {
	      	margin-top: -$gutter-l - $gutter-m;
      	}
      }
    }
  }
  &.quarter-background-resversed {
  	.content {
  		padding-bottom: 80px;
  		.customers {
  			padding-bottom: 80px;
  			.swiper-pagination {
  				.swiper-pagination-bullet {
  					background-color: #fff;
    				opacity: .65;
    				&.swiper-pagination-bullet-active {
    					background-color: $color-primary;
    					opacity: 1; 
    				}
    				&:hover {
    					opacity: 1;
    				}
  				}
  			}
  		}
  		> h2:first-of-type {
  			&.black {
	       		color: #000;
	      	}
      	}
  	}
  }
  &.quarter-background, &.quarter-background-resversed {
  	background-image: linear-gradient(#000, #000 25%, transparent 25%, transparent);
  	&.quarter-background-resversed {
  		background-image: linear-gradient(transparent 65%, transparent, #000, #000 65%);
  	}
  	.content {
      > h1, .h1,
      > h2, .h2 {
        padding-top: $gutter-xl;
        display: block;
        &.small {
        	padding-top: $gutter-l;
        }
      }
      > h2:first-of-type, > p:first-of-type, .white {
        color: #fff;
      }
      .black {
        color: #000;
      }
    }
    @media screen and (max-width: 800px) {
    	background-image: linear-gradient(#000, #000 30%, transparent 30%, transparent);
    	
    }
  }
  &.sitenav-background {
    background-image: linear-gradient(#fff,#dedede 100vh,transparent 100vh,transparent);
  }
  &.background {
  	.content {
  		.button-set {
		    margin-top: $gutter-l;
    	}
  	}
  	&#calltracking {
  		min-height: 320px;
  	}
  	&.hard-software {
  		background-color: inherit;
  		background-image: url('/assets/images/photos/hardware-und-software-telefonie.jpg');
  		min-height: 100vh;
  		height: auto;
  		background-size: cover;
    	background-position: bottom;
    	.content {
    		height: 100%;
    		color: #000;
    		.grid {
    			height: 100%;
    			align-items: center;
    		}
    	}
  	}
  	&.header {
  		background: rgb(255,255,255);
		background: -moz-linear-gradient(90deg, rgba(255,255,255,0.0) 10%, rgba(246,246,246,1) 100%);
		background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.0) 10%, rgba(246,246,246,1) 100%);
		background: linear-gradient(90deg, rgba(255,255,255,0.0) 10%, rgba(246,246,246,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f6f6f6",GradientType=1);
		top: -128px;
		position: relative;
		padding-top: 168px;
		margin-bottom: -128px;
		height: 65vh;
		min-height: 900px;
		.content {
			color: #000000;
			position: relative;
			height: 100%;
			.media {
				picture {
					position: absolute;
					&.phone {
						img {
							width: 60%;
						}
					}
				}
			}
		}
  	}
  }
  &.grey-gradient {
   		background-image: linear-gradient(90deg, #0b0b0b, #3c3c3c);	
  }
  &.grey-gradient-reverse {
	background-image: linear-gradient(-90deg, #0b0b0b, #3c3c3c);	
  }
  &.parallel-wrapper {
  	overflow: hidden;
  	padding-top: calc(4% + 10px);
  	padding-bottom: calc(4% + 10px);
  }
  &.parallel {
	  -webkit-transform: skew(-4deg) rotate(-4deg);
	  -moz-transform: skew(-4deg) rotate(-4deg);
	  -o-transform: skew(-4deg) rotate(-4deg);
	  -ms-transform: skew(-4deg) rotate(-4deg);
	  position: relative;
	  top: 0;
	  &.relative {
	  	top: -40px;
	  }
	  left: 0;
	  padding-top: $gutter-xl;
	  padding-bottom: $gutter-xl;
	  z-index: 3;
	  .h_text {
		  -webkit-transform: skew(4deg) rotate(4deg);
		  -moz-transform: skew(4deg) rotate(4deg);
		  -o-transform: skew(4deg) rotate(4deg);
		  -ms-transform: skew(4deg) rotate(4deg);
	  }
	  &.right {
		  -webkit-transform: skew(3deg) rotate(3deg);
		  -moz-transform: skew(3deg) rotate(3deg);
		  -o-transform: skew(3deg) rotate(3deg);
		  -ms-transform: skew(3deg) rotate(3deg);
		.h_text {
		  -webkit-transform: skew(-3deg) rotate(-3deg);
		  -moz-transform: skew(-3deg) rotate(-3deg);
		  -o-transform: skew(-3deg) rotate(-3deg);
		  -ms-transform: skew(-3deg) rotate(-3deg);
	  	}
	  }
  }
  &.parallax {
	overflow: hidden;
	display: block;
	position: relative;
	//background-image: url('/assets/images/photos/blue-bg.jpg');
	margin-top: -100px;
	margin-bottom: -100px;
	z-index: 1;
	background-size: cover;
	background-color: #2DE9CD;
	background-attachment: fixed;
	background-position: center center;
	&.demo1 {
		background-color: #2DE9CD;
		background-image: url('/assets/images/photos/callcenter-agent-smiling.jpeg');
		background-attachment: fixed;
	}
	&.callcenter-agent {
		background-color: #000000;
		background-image: url('/assets/images/photos/callcenter-agent-smiling.jpeg');
	}
	.inside {
		//background-image: url('/assets/images/photos/calltracking-header-image.png');
		//background-image: url('/assets/images/photos/callcenter-agent-smiling.jpeg') 
		background-attachment: fixed;
	    -webkit-transform: translate3d(0,0,0);
		display: block;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-repeat: no-repeat;
	    background-position: top center;
	    background-size: cover;
  	}
  	.content {
  		&:first-child {
  			padding-top: $gutter-xxl;
  		}
  		&:last-child {
  			padding-bottom: $gutter-xxl - $gutter-m;
  		}
  		.shadow-box {
  			background-color: rgba(255,255,255,0.85);
  		}
  	}
  }
  &.background, &.breather {
    background-color: #000;
    &.thirdcolor {
    	background-color: $color-secondary-2;
    	.button {
    		&.primary {
    			color: #fff;
    			border-color: #fff;
    			background-color: transparent;
    			&:hover {
    				color: $color-secondary-2;
    				background-color: #fff;
    				border-color: #fff;
    			}
    		}
    	}
    }
    &.lightgrey{
    	background-color: $color-lightgrey;
    }
    .shadow-box {
    	color: #000000;
    }
    .content {
      color: #fff;
      > h1, > .h1 {
        padding-top: 100px;
      }
      > h1, > p {
        color: #fff;
      }
      .button {
        border-color: #fff;
        &:hover {
          border-color: $color-primary;
        }
      }
      p {
    	a {
	  	color: #86ed18 !important;
	  	border-bottom: 0 none !important;
		   	&:hover {
		  		border-bottom: 2px solid #ffffff !important;
		  	}
		}
  	  }
  	  hr {
  	  	border-color: #fff;
  	  }
  	  input[type="text"], input[type="email"], input[type="tel"], textarea {
			&:focus {
				border-color: #fff;
			}
	  }
    }
    blockquote {
    	/*font-style: italic;*/
    	font-family: $font-copy;
    	font-weight: 300;
    	h3 {
    		font-weight: 400;
    		font-family: $font-copy;
    	}
    	&:after{
			color: #fff;
			opacity: 0.25;
    	}
    	@media screen and (max-width: 1120px) {
    		padding-bottom: 120px;
			&:after{
				right: $gutter-m;
    		}
		}
    }
  }
  &.breather {
  	.content {
	  	> h1, > .h1 {
	        padding-top: 0px;
	    }
	}
  }
  .content {
    width: 100%;
    margin: 0 auto;
    padding: 0 $gutter-l;
    &.animatedParent {
    	overflow: hidden;
    	padding-top: $gutter-m;
    	padding-bottom: $gutter-m;
    }
    &:last-child {
      margin-bottom: $gutter-m;
    }
    &.narrow {
      max-width: 960px;
    }
    &.thin {
      max-width: 740px;
    }
    &.wide {
      max-width: 1200px;
      &.left, &.right {
        display: flex;
        flex-direction: column;
        >.narrow {
          margin: 0;
          padding: 0;
        }
      }
      &.right {
        align-items: flex-end;
      }
      &.left {
        align-items: flex-start;
      }
    }
    .flip {
    	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        &.flip-before{
        	display: inline-block;
        	:before  {
	        	-moz-transform: scaleX(-1);
		        -o-transform: scaleX(-1);
		        -webkit-transform: scaleX(-1);
		        transform: scaleX(-1);
		        filter: FlipH;
		        -ms-filter: "FlipH";
	        }
        }
    }
    @media screen and (max-width: 800px) {
  	  &.mobileNoPadding {
  	  	padding: 0;
  	  }
  	}
    img {
    	&.white {
    		filter: saturate(0) grayscale(100%) brightness(1000%);
		    -webkit-filter: saturate(0) grayscale(100%) brightness(1000%);
		    -moz-filter: saturate(0) grayscale(100%) brightness(1000%);
		    -ms-filter: saturate(0) grayscale(100%) brightness(1000%);
		    -o-filter: saturate(0) grayscale(100%) brightness(1000%);
    	}
    }
    > h1 {
      &+p {
        margin-bottom: $gutter-l;
      }
    }
    *:not(p)+p, *+ul, *+h2 {
      margin-top: $gutter-m;
    }
    p {
      a:not(.button) {
        color: #000;
        border-bottom: 2px solid $color-primary;
        cursor: pointer;
        &:hover {
          color: $color-primary;
        }
      }
    }
    ul, ol {
      line-height: 2;
    }
    ul {
      list-style: none;
      li {
        padding-left: 1em;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0.7em;
          display: block;
          // display: inline-block;
          // margin-right: $gutter-s;
          width: 8px;
          height: 8px;
          background-color: $color-primary;
          border-radius: 50%;
        }
      }
      &.list {
      	&.approved-list {
      		li {
      			text-align: left;
				padding-left: 1.5rem;
				margin: $gutter-s 0;
				line-height: 1.5;
      			&:before {
      				content: url("/assets/images/icons_svg/list-element.svg");
      				width: 15px;
	      			height: auto;
	      			background-color: inherit;
	      			top: 0;
      			}
      		}
      	}
      }
      &.menu {
      	li {
      		&:before {
      			display: none;
      		}
      	}
      }
    }
    ol {
      counter-reset: ol-counter;
      list-style: none;
      li {
        counter-increment: ol-counter;
        &:before {
          content: counter(ol-counter) '.';
          font-weight: 500;
          padding-right: $gutter-s;
          color: $color-primary;
        }
      }
      &.list  {
      	&.border-list {
      		> li {
      			border: 2px dashed $color-secondary-1;
			    padding: 30px 20px 10px;
			    margin: 50px auto 20px;
			    position: relative;
      			&:before {
      				content: counter(ol-counter); 
      				width: 50px;
				    height: 50px;
				    background: $color-secondary-1;
				    display: block;
				    border: none;
				    border-radius: 50%;
				    color: #fff;
				    padding: 2px 0;
				    font-size: 24px;
				    font-weight: 600;
				    position: absolute;
				    top: -25px;
				    left: calc(50% - 25px);
				    text-align: center;
      			}
      			&:hover {
      				border: 2px dashed $color-primary;
      				&:before {
      					background: $color-primary;	
      				}
      			}
      		}
      	}
      }
    }
    *+h3 {
      margin-top: $gutter-l;
    }
    h3+p, h3+ul {
      margin-top: $gutter-m;
    }
    &+.content {
      margin-top: $gutter-xxl;
      &.no-gutter-top {
        margin-top: $gutter-l;
      }
      &.half-gutter-top {
        margin-top: 0;
      }
    }
  }
  &+.wrapper {
  	&.parallax {
  		margin-top: -100px;
  		margin-bottom: -220px;
  	}
  	&.marginTop-xxl {
  		margin-top: 240px;
  	}
  	&.halfWrap {
  		margin-top: $gutter-xl - 20;
  	}
    margin-top: $gutter-xxl;
    &.no-margin-top {
		margin-top: 0;
	}
  }
  
  @media screen and (max-width:800px) {
	   &.job-header {
	  	border-bottom: 5px solid $color-primary;;
	    padding-bottom: 20px;
	    .button-set {
	    	&.desktop-hidden {
	    		align-items: flex-end;
	    		.button {
	    		    width: 50%;
	    		}
	    	}
	    }
	  }
  }
  
  @media screen and (max-width: 555px) {
    .content {
      padding: 0 $gutter-m;
      &+.content {
        margin-top: $gutter-l + 20;
      }
    }
    &+.wrapper {
      margin-top: $gutter-xl;
    }
  }
}

/*
 * BLOCKQUOTES
 */
blockquote {
  padding: $gutter-l $gutter-xl;
  position: relative;
  * {
    z-index: 1;
  }
  img {
    max-width: 150px;
    display: block;
  }
  p:first-of-type + p {
    margin-top: $gutter-m;
  }
  &.no-padding {
    padding: 0;
  }
  &.max-padding-bottom {
  	padding: 0 0 50px;
  }
  &.no-sign {
  	padding-bottom: 50px;
  	&::after {
  		content: none;
  	}
  }
  &:after {
    content: "”";
    position: absolute;
    z-index: 0;
    color: #000;
    opacity: 0.1;
    font-size: 150px;
    bottom: 20px;
    right: 50px;
    font-family: $font-headline;
    transform: rotate(180deg);
    line-height: 1;
  }
  @media screen and (max-width: 770px) {
    padding: $gutter-l;
  }
  @media screen and (max-width: 670px) {
    padding: $gutter-l $gutter-l $gutter-xl;
    &:after {
    	bottom: 0px;
    	right: $gutter-m;
    }
  }
}

/*
 * TOPIC SELECTOR
 */
 .selectWrapper {
	position: relative;
	width: 100%;
	select {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		border: 2px solid $color-secondary-1;
		&::-ms-expand {
		  display: none;
		}
		
		width: 100%;
		padding-left: 20px;
		color: $color-secondary-1;
		outline: none;
		cursor: pointer;
		z-index: 1;
		position: relative;
		background-color: rgba(255,255,255,0);
		option {
			color: #111;
			&:hover {
				background-color: $color-primary;
			}
		}
		
		&:focus {
			&::-ms-value {
		  		background-color: transparent;
			}
		}
	}
	&::after {
	  font-family: "streamline";
	  content: "\e5ca";
	  font-size: 18px;
	  position: absolute;
	  right: 15px;
	  top: 8px;
	  color: $color-secondary-1;
	  z-index: 0;
	}
}
.topic-selector {
  width: 66%;
  background-color: #000;
  color: #fff;
  padding: $gutter-l;
  font-size: $font-size-xs;
  font-weight: 500;
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .left {
      padding: $gutter-s $gutter-m;
      text-align: right;
    }
    .left, .right {
      width: 50%;
    }
    &+.row {
      margin-top: $gutter-s;
    }
  }
  .selectWrapper  {
	  select{
	    display: block;
	    border: 2px solid #fff;
	    color: $color-primary;
	    padding: $gutter-s $gutter-m;
	    background-color: #000;
	    width: 100%;
	    font-family: $font-copy;
	    font-size: $font-size-xs;
	    font-weight: 500;
	    &.subtopic {
	      display: none;
	      &:nth-of-type(1) {
	        display: block;
	      }
	    }
	    option {
	    	color: #ffffff;
	    }
	  }
	  &::after {
		  color: $color-primary;
		  z-index: 1;
	  }
  }
  a {
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
    display: block;
    padding: $gutter-s $gutter-s;
    &:hover {
      color: $color-primary;
      background-color: #000;
    }
  }
  @media screen and (max-width: 880px) {
    width: 100%;
    margin-bottom: $gutter-xxl;
    padding: $gutter-m;
    .row {
	    flex-direction: column;
	    .left, .right {
	      width: 100%;
	      text-align: left;
	    }
  	}
  }
}
.topic-box {
  display: none;
  &:nth-of-type(1) {
    display: block;
  }
}

/*
 * CONTACT FORM
 */
.contact-form {
  padding-bottom: $gutter-l;
  select, input {
    display: inline-block;
    margin: $gutter-s;
    font-size: $font-size-m;
    font-family: $font-copy;
    color: $color-primary;
    background-color: #000;
    border: 2px solid #fff;
    padding: $gutter-s;
    &:active {
      color: #000;
      background-color: #fff;
    }
    @media screen and (max-width: 720px) {
      display: block;
      width: 100%;
      margin: $gutter-s 0;
    }
  }
  hr {
    margin: $gutter-m auto;
    border-top: 2px solid #fff;
  }
  .contacts {
    a {
      position: relative;
      color: $color-primary;
      font-size: $font-size-l;
      display: inline-block;
      padding-left: calc(25px + #{$gutter-s});
      &:before {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        left: 0;
        top: calc(50% - 14px);
        margin-right: $gutter-s;
        background-size: cover;
        background-position: center;
      }
      &.tel:before {
        background-image: url(../images/icons_png/icon-phone.png);
      }
      &.email:before {
        background-image: url(../images/icons_png/icon-email.png);
      }
    }
  }
}