$grid-gutter: $gutter-l;

.grid {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: -$gutter-l;

	&.stopper {
		align-items: center;
		margin-bottom: 0;

		&.padding {
			padding: $gutter-l 0;
		}

		.image {
			width: 10%;

			>img {
				max-height: 70px;
			}
		}

		.text {
			width: 57%;

			>p {
				margin-top: $gutter-s !important;
			}
		}

		.button-set {
			width: 33%;
			margin: 0;
			align-items: center;

			>a {
				margin: 0;
			}
		}
	}

	&.seperator-line {
		background: linear-gradient(90deg, transparent calc(50% - 1px), rgba(#000, 0.2), transparent calc(50% + 1px));
		@media screen and (max-width: 670px) {
			background: none;
		}
	}

	[class*='col-'] {
		&.card {
			--c: $color-lightgrey-2;
			border-radius: 10px;
			background-color: #fff;
			overflow: hidden;
			padding: $gutter-m;
			&--shadow {
				box-shadow: 0 4px 10px rgba(#000, 0.1);
			}
			&--transparent {
				background-color: transparent;
				.card__image {
					background-color: transparent !important;
				}
			}
			.card__image {
				margin-top: -$gutter-m;
				margin-left: -$gutter-m;
				width: calc(100% + (#{$gutter-m} * 2));
				max-width: calc(100% + (#{$gutter-m} * 2));
				height: 180px;
				margin-bottom: $gutter-m;
				background-color: var(--c);
				display: flex;
				justify-content: center;
				align-items: center;
				&--small {
					height: auto;
					margin-bottom: $gutter-l;
				}
				img {
					display: block;
				}
			}
			h3 {
				margin-top: 0;
				font-size: 24px;
				font-family: $font-copy;
			}
			h4 {
				margin-top: 0;
				font-size: 20px;
				font-family: $font-headline !important;
				font-weight: 700 !important;
			}
		}
		&.flex {
			display: flex;
			flex-direction: column;

			&.row {
				flex-direction: row;
			}
		}

		&.space-between {
			justify-content: space-between;

			blockquote {
				height: 100%;
				padding-bottom: $gutter-xxl;

				&.no-sign {
					padding-bottom: 50px;
				}
			}
		}

		&.col-50 {
			width: 50%;
			margin-bottom: 0;

			>img {
				margin: 0;
				object-fit: cover;
				width: 100%;
				height: 100%;

				&.logo {
					height: auto;
					width: 100%;
					margin: 0 auto;
					max-width: 300px;
				}
			}

			&.padding {
				padding: 40px;
			}

			&.background {
				&.blue {
					background-color: $color-blue;
					color: #ffffff;
				}
			}

			blockquote {
				padding: $gutter-l 0;

				&::after {
					color: #ffffff;
					font-size: 120px;
					bottom: -40px;
					right: 0;
				}

				&.h2 {
					font-size: $font-size-l;
					margin-bottom: $gutter-m;
				}
			}

			.h4 {
				font-size: $font-size-s;
			}
		}
	}

	&.columns {
		flex-direction: column;
	}

	&.sidebar-grid {
		margin: 0;

		.grid {
			margin: 0;
		}

		.menu {
			width: 25%;

			ul {
				list-style-type: none;

				li {
					border-left: 5px solid #d4d4d4;
					padding-left: 0;
					margin-bottom: 20px;
					box-shadow: 0 0 20px rgba(0, 0, 0, .15);

					&.menuheader {
						margin-bottom: 0px;
					}

					a {
						padding: 14px 20px;
						font-size: $font-size-xs;
						color: $color-secondary-1;
						display: flex;
						align-items: center;
						width: 100%;
						background-color: #fff;
						line-height: $font-size-l;

						&::before {
							font-size: 22px;
							padding-right: 15px;
						}
					}

					&::before {
						content: none;
					}

					&:hover {
						a {
							background-color: #fafafa;
						}

						box-shadow: 0 0 20px rgba(0, 0, 0, .25);
					}

					&.active {
						border-color: $color-primary;
					}
				}
			}
		}

		.elements {
			width: 72%;

			>div {
				display: none;
			}

			.col-2 {
				width: calc((100% - ((2 - 1) * +20px))/ 2);
				margin-bottom: 20px;

				>div {
					margin-top: 0;
				}

				img {
					margin: 20px auto;
				}

				.text-small {
					font-size: 14px;
					line-height: 1.4;
				}
			}
		}
	}

	.stair {
		img {
			margin-top: -150px;
			box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);

			&:first-of-type {
				margin-top: 0;
				margin-left: 0;
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	&.overlap {
		padding: 140px 40px 40px;

		&.left {
			.col-2 {
				&:first-of-type {
					position: relative;
					right: -40px;
					top: 20px;
					z-index: 2;
					min-width: 350px;

					.shadow-box {
						min-width: 350px;
					}
				}

				&:last-of-type {
					position: relative;
					left: -40px;
					z-index: 1;

					.shadow-box {
						height: 100%;
						width: 100%;
						display: block;
						min-width: 500px;
						max-height: 500px;
					}

					img {
						height: 100%;
						width: 100%;
					}
				}
			}
		}

		&.right {
			.col-2 {
				&:first-of-type {
					position: relative;
					right: -40px;
					z-index: 1;

					.shadow-box {
						height: 100%;
						width: 100%;
						display: block;
						min-width: 500px;
						max-height: 500px;
					}

					img {
						height: 100%;
						width: 100%;
					}
				}

				&:last-of-type {
					position: relative;
					left: -40px;
					top: 20px;
					z-index: 2;

					.shadow-box {
						min-width: 350px;
					}
				}
			}
		}

	}

	&.tile {

		.col-2,
		.col-3 {
			display: flex;
			align-items: stretch;
			position: relative;

			>div {
				margin-top: $gutter-l;
			}

			>.benefit-box {
				padding: 40px;
				color: black;
				background: #FFFFFF;
				border: 2px solid #000000;
				box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1), 0px 2px 30px rgba(0, 0, 0, 0.05);
			}

			.shadow-box {
				box-shadow: 0 0 10px rgba(0, 0, 0, .1);
				width: 100%;
			}

			.disturber {
				position: absolute;
				top: $gutter-m - 10;
				margin-top: 0;
				right: 0;

				span {
					display: table;
					padding: 10px 20px;
					font-family: apercu, sans-serif;
					font-size: 18px;
					font-weight: 300;
					white-space: nowrap;

					&.secondary {
						background-color: #fff;
						border: 2px solid #86ed18;
						color: #000;
					}

					&.tertiary {
						background-color: #86ed18;
						border: none;
						color: #000;
					}
				}
			}

			&:hover,
			&:focus {

				.shadow-box {
					//box-shadow: none;
					transition: all .3s ease;
				}

				.disturber {
					span {
						transition: all .3s ease;

						&.secondary {
							background-color: #000;
							border: 2px solid transparent;
							color: #86ed18;
						}

						&.tertiary {
							background-color: #000;
							color: #86ed18;
						}
					}
				}
			}
		}
	}

	img {
		display: block;
		margin: 0 auto;

		&.icon {
			width: 70px;
			margin-bottom: $gutter-m;

			&.icon-small {
				height: 65px;
			}
		}

		&.headlineIcon {
			display: block;
			width: $img-size-xxs;
			height: auto;
			max-height: $img-size-xxs;
		}
	}

	[class^='col-'] {
		margin-bottom: $gutter-l;

		&.padding {
			margin: 0;
			padding: $gutter-xl 0 $gutter-xl 0;
		}
	}

	@for $i from 1 through 6 {
		$col-width: calc((100% - ((#{$i} - 1) * #{$grid-gutter})) / #{$i});

		.col-#{$i} {
			width: $col-width;
		}
	}

	.col-2-5 {
		width: percentage(2/5);
		padding-left: $gutter-xl;
	}
	.col-3-5 {
		width: percentage(3/5);
		padding-right: $gutter-xl;
	}
	@media screen and (max-width: 1200px) {
		.col-2-5, .col-3-5 {
			width: 50%;
		}	
	}
	@media screen and (max-width: 800px) {
		.col-2-5, .col-3-5 {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
	}
}

*+.grid {
	margin-top: $gutter-l;
}

.tab-grid {
	.shadow-box {
		box-shadow: none !important;
		background-color: transparent;
	}

	.accordion {
		background-color: transparent;
		border-left: 4px solid transparent;

		&:hover {
			box-shadow: 0 0 20px rgba(0, 0, 0, .25);
			border-left: 4px solid $color-primary;
			background-color: #fff;
			transition: 0.4s all ease;
		}

		&.open {
			border-left: 4px solid $color-primary;
			box-shadow: 0 0 20px rgba(0, 0, 0, .25);
			background-color: #fff;
		}

		&:nth-child(2) {
			.shadow-box {

				&:hover,
				&.open {
					border-color: $color-secondary-2;
				}
			}
		}

		&:nth-child(3) {
			.shadow-box {

				&:hover,
				&.open {
					border-color: $color-secondary-3;
				}
			}
		}

		&:hover {
			background-color: initial;
			color: initial;
		}

		&.blank {
			margin: 20px 0;
			border-left: 4px solid transparent;

			.title {
				padding: 0;

				.headline {
					text-transform: uppercase;
					color: $color-grey;
				}

				.image-grid {
					padding: 20px;

					.media {
						width: 65px;

						img {
							height: 65px;
							margin: 0;
						}
					}

					.text {
						width: 90%;
						width: calc(100% - 65px);
						padding: 0 0 0 20px;

						h3 {
							font-size: 16px;
						}
					}
				}
			}

			&:hover {
				box-shadow: 0 0 20px rgba(0, 0, 0, .25);
				border-left: 4px solid $color-primary;
				background-color: #fff;
				transition: 0.4s all ease;
			}

			&.open {
				border-left: 4px solid $color-primary;
				box-shadow: 0 0 20px rgba(0, 0, 0, .25);
				background-color: #fff;
			}
		}

		.content {
			font-size: 16px;
			line-height: 22px;
		}
	}

}

@media screen and (max-width: 1200px) {
	.grid {
		&.overlap {
			&.left {
				.col-2 {
					&:last-of-type {
						.shadow-box {
							min-width: 400px;
							max-height: 400px;
						}
					}
				}
			}

			&.right {
				.col-2 {
					&:first-of-type {
						.shadow-box {
							min-width: 400px;
							max-height: 400px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.grid {
		&.overlap {

			&.left {

				/*flex-direction: column-reverse;*/
				.col-2 {
					&:last-of-type {
						left: -120px;
						top: -80px;

						.shadow-box {

							img {}
						}

					}

					&:first-of-type {
						min-width: initial;

						.shadow-box {
							min-width: 450px;
						}

						blockquote {}
					}
				}
			}

			&.right {
				.col-2 {
					&:first-of-type {
						right: -40px;
						top: -80px;

						.shadow-box {}
					}

					&:last-of-type {
						left: -120px;

						.shadow-box {
							min-width: 450px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.grid {
		&.stopper {
			.image {
				width: 100%;
				padding: 0 0 20px;
			}

			.text {
				width: 100%;
				text-align: center;
				padding-bottom: 20px;
			}

			.button-set {
				width: 100%;
			}
		}

		[class*='col-'] {
			&.col-50 {
				width: 100%;

				&.padding {
					padding: $gutter-m + $gutter-s $gutter-m;
				}

				blockquote {
					&.h2 {
						font-size: $font-size-s;
					}
				}

			}
		}

		&.overlap {
			padding-left: 0;
			padding-right: 0;
			flex-direction: column-reverse;
			padding-top: $gutter-xl;

			&.left {
				.col-2 {
					padding: 0 $gutter-m;

					&:last-of-type {
						width: 100%;
						display: block;
						left: initial;
						top: initial;

						.shadow-box {
							position: relative;
							left: 0px;
							z-index: 1;
							width: 100%;
							display: flex;
						}
					}

					&:first-of-type {
						width: 90%;
						top: 0;
						margin: 0 auto;
						right: 0;
						min-width: initial;

						.shadow-box {
							min-width: initial;
						}
					}
				}
			}

			&.right {
				flex-direction: column;

				.col-2 {
					padding: 0 $gutter-m;

					&:first-of-type {
						top: initial;
						right: initial;
						width: 100%;
						height: 100%;
					}

					&:last-of-type {
						width: 90%;
						left: 5%;
					}
				}
			}

			.shadow-box {
				&.box-illu-1 {
					&.visible {
						&::after {
							content: none;
						}
					}
				}
			}
		}

		&.sidebar-grid {
			.menu {
				&.menu-mobile-dropdown {
					width: 100%;

					ul {
						margin-bottom: 40px;

						li {
							display: flex;
							justify-content: center;
							align-items: center;
							display: none;
							border: none;
							text-align: center;
							padding-left: 0;
							border-bottom: 1px solid #fafafa;

							&.menuheader {
								display: blocK;
								cursor: pointer;
								border: none;
								color: #fff;
								background-color: $color-secondary-1;
								padding: 5px 20px 5px 20px;

								&::after {
									content: '\e5ca';
									font-family: "streamline";
									display: inline-block;
								}

								span {
									width: 92%;
									padding: 0;
									margin: 0;

									&.desktop-hidden {
										display: inline-block !important;
									}
								}

								&.open {
									color: $color-secondary-1;
									background-color: $color-primary;

									&:after {
										transform: rotate(180deg);
										transition: 300ms ease-in-out all;
									}
								}
							}
						}
					}
				}
			}

			.elements {
				width: 100%;

				.tile {
					flex-direction: row;

					&.column {
						.col-2 {
							&:nth-child(odd) {
								margin-bottom: 20px;
							}
						}
					}

					.col-2 {
						margin-bottom: 20px;
					}
				}
			}
		}

		&.tile {
			flex-direction: column;

			.col-2 {
				width: 100%;
			}

			&.column {
				.col-2 {
					&:nth-child(odd) {
						margin-bottom: 0;

						>div {
							margin-bottom: 0;
						}
					}
				}
			}
		}

		.col-3,
		.col-4 {
			width: calc((100% - 20px) / 2);
		}

		&.mobileFull {
			.col-2 {
				width: 100%;
			}
		}

		&.mobileResponsiveWidth {
			.col-3 {
				width: calc((100% - ((3 - 1) * 10px))/ 3);

				>.benefit-box {
					padding: 40px;
					color: black;
					background: #FFFFFF;
					border: 2px solid #000000;
					box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1), 0px 2px 30px rgba(0, 0, 0, 0.05);
				}
			}
		}

		img {
			&.headlineIcon {
				width: $img-size-xxxs;
			}
		}
	}

	.tab-grid {
		.col-2 {
			.shadow-box {
				margin-top: 0px;
				padding: 5px 10px;
			}

			&:last-child {
				width: 100%;
			}
		}
	}

	#angebote {
		.grid {
			.col-3 {
				width: 100%;
			}
		}
	}

	#kontakt {
		.grid {

			.col-2,
			.col-3 {
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 670px) {
	.grid {

		.col-2,
		.col-3,
		.col-4 {
			width: 100%;
		}

		[class*='col-'] {
			&.padding {
				padding: $gutter-l 0 $gutter-m 0;
			}

			&.padding:last-child {
				padding: 0 0 $gutter-l 0;
			}
		}

		&.sidebar-grid {
			.elements {
				.tile {
					flex-direction: column;

					&.column {
						.col-2 {
							&:nth-child(odd) {
								margin-bottom: 20px;
							}
						}
					}

					.col-2 {
						width: 100%;
					}
				}
			}
		}

		&.overlap {

			&.right,
			&.left {
				[class*=col-] {
					margin-bottom: 0;
				}
			}

			&.right {
				.col-2 {
					&:last-of-type {
						top: initial;
						margin-top: -$gutter-xl;

						.shadow-box {
							min-width: initial;
						}
					}
				}
			}

			&.left {
				.col-2 {
					&:first-of-type {
						top: initial;
						margin-top: -$gutter-xl;

						.shadow-box {
							min-width: initial;
						}
					}
				}
			}
		}

		.stair {
			img {
				margin-top: 0;
				display: none;

				&:first-of-type {
					display: none;
				}

				&:last-of-type {
					margin: 0 auto;
					display: block;
				}
			}
		}
	}

	.tab-grid {
		.col-2 {
			.shadow-box {
				overflow: visible;
			}
		}
	}
}


@media screen and (max-width: 480px) {
	.grid {
		.tab-grid {
			.col-2 {
				.accordion {
					&.blank {
						margin: 0;

						.media {
							display: none;
						}

						.text {
							width: 100%;
							padding-left: 0 !important;
						}

						&:hover {
							box-shadow: none;
							border-left: 4px solid transparent;
							background-color: transparent;
							transition: none;
						}

						&.open {
							border-left: 4px solid $color-primary;
							box-shadow: 0 0 20px rgba(0, 0, 0, .25);
							background-color: #fff;
						}
					}
				}
			}
		}

		&.overlap {
			&.left {
				.col-2 {
					&:first-of-type {
						width: 100%;
						left: initial;

						blockquote {
							padding: 25px 20px;
						}
					}

					&:last-of-type {
						padding: 0;

						.shadow-box {
							min-width: initial;
							max-height: initial;
						}
					}
				}
			}

			&.right {
				.col-2 {
					&:first-of-type {
						padding: 0;

						.shadow-box {
							min-width: initial;
							max-height: initial;
						}
					}

					&:last-of-type {
						width: 100%;
						left: initial;

						blockquote {
							padding: 25px 20px;
						}
					}
				}
			}
		}
	}
}