.shadow-box {
  box-shadow: 0 0 20px rgba(#000, 0.25);
  background-color: #fff;
  &+.shadow-box {
    margin-top: $gutter-l;
  }
  &.padding {
    padding: $gutter-l;
  }
  &.padding-tiles {
  	padding: $gutter-l - 10 $gutter-l - 10 $gutter-l + 20;
  }
  &.animation-1 {
    position: relative;
    &:after {
      content: "";
      width: 700px;
      height: 700px;
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      top: -247px;
      right: -311px;
    }
  }
  &.visible {
  	&::after {
  		background-image: url(../animations/01_MASTER_HP_transparent.gif);
  	}
  }
  &.autoWidth {
  	width: auto;
  }
  .text {
  	p {
  		margin-top: 15px;
  	}
  }
  .text-small {
  	font-size: $font-size-xs;
  }
  .button-bottom {
  	position: absolute;
    width: 100%;
    left: 0px;
    border-top: 1px solid rgba(0,0,0,0.1);
    bottom: 0;
    text-align: center;
    cursor: pointer;
  	button {
	  	span.icon {
	  		
	  	}
	    width: 100%;
	    display: block;
	    padding: 13px 20px 12px;
	    cursor: pointer;
	    background-color: transparent;
    	background-image: linear-gradient(to right, #86ed18 50%, transparent 50%);
    	background-position-x: 101%;
    	background-repeat-x: no-repeat;
    	background-size: 200% 100%;
	    font-size: 16px;
	    font-weight: 500;
	    font-family: apercu,sans-serif;
	    transition: background-position 0.2s;
	    &:hover {
	    	background-color: $color-secondary-1;
	    	color: #ffffff;
	    }
	    span {
	    	padding-left: 30px;
	    }
	    span:before {
			content: "\e03a";
			padding-right: 10px;
			line-height: 24px;
			font-size: 20px;
		}
	    &.added {
	    	background-position-x: 0;
    		color: #000000;
    		span:before {
				content: "\e2a2";
			}
    	}
  	}
  	.arrow-box {
		position: absolute;
		background: #000000;
		border: 1px solid #000000;
		padding: 10px;
		top: -88px;
	    width: 70%;
	    left: 15%;
	    color: #ffffff;
		> strong {
			display: block;
		}
	}
	.arrow-box:after, .arrow-box:before {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	
	.arrow-box:after {
		border-color: rgba(136, 183, 213, 0);
		border-top-color: #000000;
		border-width: 10px;
		margin-left: -10px;
	}
	.arrow-box:before {
		border-color: rgba(136, 183, 213, 0);
		border-top-color: #000000;
		border-width: 11px;
		margin-left: -11px;
	}
  }
}

*:not(.topic-selector)+.shadow-box {
  margin-top: $gutter-l;
}

@media screen and (max-width: 670px) {
	.shadow-box {
		overflow: hidden;
	    &.padding {
	      padding: $gutter-l $gutter-l -10  $gutter-l;
	    }
	    &.animation-1 {
	    	margin-top: 120px;
	    	overflow: inherit;
	    }
	}
}