$slider_width: 1000px; // 1800

.slider {
  position: relative;
  width: 100%;
  max-width: $slider_width;
  margin: 0 auto;
  // background-color: green;
  .slides {
    position: absolute;
    display: flex;
    left: 0px;
    top: 0px;
    flex-direction: row;
    padding: 20px 0;
    transition: left .3s linear;
    .slide {
      width: calc(#{$slider_width} / 3);
      padding: 0 $gutter-s;
      opacity: 0.3;
      transition: all 0.3s ease;
      .slide-content {
        background-color: #fff;
        box-shadow: 0 0 20px rgba(#000, 0.25);
        padding: $gutter-xl $gutter-l;
      }
      &.active {
        opacity: 1;
        .slide-content {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
  .slider-navigation {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    .btn-slider-nav {
      position: relative;
      width: 33px;
      height: 33px;
      background-color: #fff;
      border-radius: 50%;
      border: 2px solid #fff;
      cursor: pointer;
      &+.btn-slider-nav {
        margin-left: 15px;
      }
      &.active {
        border-color: #000;
        cursor: default;
      }
      &:before {
        content: "";
        position: absolute;
        width: 17px;
        height: 17px;
        background-color: $color-primary;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        border-radius: 50%;
      }
    }
  }
}

.swiper-container {
	&.single {
		padding: 0 0 60px;
		.swiper-wrapper {
			.swiper-slide {
				padding: 0 50px;
			}
		}
		.swiper-button-next, .swiper-button-prev {
			color: $color-secondary-1;
			&:hover {
				color: $color-primary;
			}
		}
	}
	&.no-width-100 {
		.grid {
			.col-2 {
				width: calc((100% - ((2 - 1) * 40px))/ 2);			
			}
			.col-3 {
				width: calc((100% - ((3 - 1) * 40px))/ 3);			
			}
		}
	}
	.swiper-pagination {
		&.swiper-pagination-bullets {
			.swiper-pagination-bullet-active {
				background-color: $color-primary;
			}
			.swiper-pagination-bullet {
				margin: 0 8px;
				width: 14px;
				height: 14px;
				&:hover {
					background-color: $color-secondary-1;
					opacity: 1;
				}
			}
		}
	}
}

.shadow-box {
	.swiper-container {
		padding: 40px 0 60px;
		.swiper-wrapper {
			.swiper-slide {
				padding: 0 50px;
			}
		}
		.swiper-button-next, .swiper-button-prev {
			width: 50px;
		    height: auto;
		    padding: 0 5px;
		    background: #000;
		    color: #fff;
		    top: 46.5%;
			&:hover {
				background-color: $color-primary;
			}
		}
		.swiper-button-next {
			right: 0;
	    	left: auto;
		}
		.swiper-button-prev {
			right: auto;
	    	left: 0;
		}
	}
	
    
}

@media screen and (max-width: 1055px) {
  .slider {
    height: auto !important;
    .slides {
      position: relative;
      flex-direction: column;
      .slide {
        width: 100% !important;
        opacity: 1 !important;
        .slide-content {
          padding: $gutter-m;
          background-color: #000;
          color: #fff;
        }
        &+.slide {
          margin-top: $gutter-m;
        }
      }
    }
    .slider-navigation {
      display: none;
    }
  }
}

@media screen and (max-width: 480px) {
	.swiper-container {
		&.no-width-100 {
			.grid {
				.col-2 {
					width: 100%;			
				}
				.col-3 {
					width: 100%;			
				}
			}
		}
	}
}
