

.spinner {
	width: 100px;
    height: 100px;
    display: flex;
    position: relative;
    justify-content: center;
    justify-items: center;
    margin: 40px auto 0;
    
	    .loader {
		    border: 0.6em solid #ffffff;
		    border-radius: 50%;
		    border-top: 0.6em solid #86ed18;
		    border-bottom: 0.6em solid #000000;
		    width: 60%;
		    height: 60%;
		    -webkit-animation: spin 2.5s linear infinite;
		    animation: spin 2.5s linear infinite;
		    position: absolute;
		    top: 2%;
		}
	
		.loader2 {
		border: 0.2em solid #ffffff;
		    border-radius: 50%;
		    border-top: 0.2em solid #86ed18;
		    border-bottom: 0.2em solid #000000;
		    width: 95%;
		    height: 95%;
		    -webkit-animation: spin 1.5s linear infinite;
		    animation: spin 1.5s linear infinite;
		    position: absolute;
		    top: -9%;
		}
	
		.loader3 {
		    border: 0.4em solid #ffffff;
		    border-radius: 50%;
		    border-bottom: 0.4em solid #000000;
		    width: 30%;
		    height: 30%;
		    -webkit-animation: spin-1 3s linear infinite;
		    animation: spin-1 3s linear infinite;
		    position: absolute;
		    top: 20%;
		    left: 28%;
		}
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@-webkit-keyframes spin-1 {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(-360deg); }
}

@keyframes spin-1 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}