.tabs {
  .tab-nav {
    margin-bottom: 50px;
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      list-style: none;
      li {
        display: flex;
        align-items: stretch;
        flex: 1;
        padding-left: 0;
        &:before {
          display: none;
        }
        &+li {
          margin-left: 20px;
        }
        a {
          display: flex;
          align-items: center;
          width: 100%;
          position: relative;
          background-color: #fff;
          box-shadow: 0 0 20px rgba(#000, 0.25);
          padding: 10px 52px 10px 20px;
          text-transform: uppercase;
          font-weight: 500;
          color: rgba(#000, 0.5);
          &:before {
            content: "";
            position: absolute;
            width: 24px;
            height: 12px;
            background-image: url(../images/icons_svg/arrow-down.svg);
            background-position: center;
            background-size: cover;
            transform: translate3d(0, -50%, 0) rotate(-90deg);
            top: calc(50%);
            right: 14px;
            opacity: 0.5;
            transition: opacity 0.3s ease;
          }
          &:hover {
            color: #000;
            &:before {
              opacity: 1;
            }
          }
          &.active {
            color: #000;
            &:before {
              opacity: 1;
            }
            &:after {
              content: "";
              position: absolute;
              width: 100%;
              height: 4px;
              background-color: $color-primary;
              bottom: 0;
              left: 0;
              transform: translateY(200%);
            }
          }
        }
      }
    }
  }
  &.tabs2, &.tabs3 {
    	.tab-nav {
    		border-bottom: 5px solid #f2f2f2;
    		margin-bottom: 0;
    		ul {
				li {
					&+li {
				    	margin-left: 0px;
				    }
				    a {
				    	padding: 10px 20px 10px 20px;
				    	box-shadow: none;
				    	font-size: 16px;
				    	justify-content: center;
				    	background-color: $color-newgrey;
				    	&::before {
				    		content: none;
				    	}
				    	&::after {
				    		bottom: 5px;
				    		height: 5px;
				    	}
				    	&.active {
				    		background-color: #ffffff;
				    	}
				    }
    			}
    		}
    	}
    	.tab {
			&.active {
		    	padding-bottom: 0;
		    }
		    .padding {
		    	padding: $gutter-l;
		    }
		}
  }
  &.tabs3 {
  	.tab-nav {
    	border-bottom: 2px solid #fff;
    	> ul {
    		> li {
    			> a {
    				background-color: #fff;
    				text-align: center;
    				&::after {
			    		bottom: 2px;
			    		height: 2px;
			    	}
			    	> img {
			    		max-width: 80%;
			    		max-height: 35px;
			    		filter: saturate(0) grayscale(100%) brightness(150%);
					    -webkit-filter: saturate(0) grayscale(100%) brightness(150%);
					    -moz-filter: saturate(0) grayscale(100%) brightness(150%);
					    -ms-filter: saturate(0) grayscale(100%) brightness(150%);
					    -o-filter: saturate(0) grayscale(100%) brightness(150%);
					    transition: filter ease 0.5s;
			    		&:hover {
				    		filter: saturate(0) grayscale(100%) brightness(90%);
						    -webkit-filter: saturate(0) grayscale(100%) brightness(90%);
						    -moz-filter: saturate(0) grayscale(100%) brightness(90%);
						    -ms-filter: saturate(0) grayscale(100%) brightness(90%);
						    -o-filter: saturate(0) grayscale(100%) brightness(90%);
			    		}
			    		&.min {
				    		filter: saturate(0) grayscale(100%) brightness(110%);
						    -webkit-filter: saturate(0) grayscale(100%) brightness(110%);
						    -moz-filter: saturate(0) grayscale(100%) brightness(110%);
						    -ms-filter: saturate(0) grayscale(100%) brightness(110%);
						    -o-filter: saturate(0) grayscale(100%) brightness(110%);
						    &:hover {
					    		filter: saturate(0) grayscale(100%) brightness(90%);
							    -webkit-filter: saturate(0) grayscale(100%) brightness(90%);
							    -moz-filter: saturate(0) grayscale(100%) brightness(90%);
							    -ms-filter: saturate(0) grayscale(100%) brightness(90%);
							    -o-filter: saturate(0) grayscale(100%) brightness(90%);
				    		}
			    		}
			    	}
			    	&.active {
		    			> img {
			    			filter: saturate(0) grayscale(100%) brightness(90%);
						    -webkit-filter: saturate(0) grayscale(100%) brightness(90%);
						    -moz-filter: saturate(0) grayscale(100%) brightness(90%);
						    -ms-filter: saturate(0) grayscale(100%) brightness(90%);
						    -o-filter: saturate(0) grayscale(100%) brightness(90%);
						}
		    		}
    			}
    		}
    	}
    }
    .tab {
    	padding: $gutter-xl;
    	background-color: #f2f2f2;
    	text-align: center;
    	&.active {
    		padding-bottom: $gutter-xl;
    	}
    	blockquote {
    		padding: 0;
			&::after {
	    		opacity: 0.50;
			    font-size: 120px;
			    bottom: -40px;
			    right: 0;
			    color: $color-primary;
		    }
    	}
    	.autor {
    		font-weight: 300;
    	}
    }	
  }
  .tab {
    display: none;
    &.active {
      display: block;
      padding-bottom: $gutter-l;
    }
  }
}

@media screen and (max-width: 800px) {
  .tabs {
    .tab-nav {
      ul {
        flex-direction: column;
        li {
          &+li {
            margin-left: 0;
            margin-top: 28px;
          }
        }
      }
    }
    &.tabs3 {
  		.tab-nav {
	      > ul {
	        flex-direction: row;
	        > li {
	        	&+li {
	        		margin-top: 0;
	        	}
	        }
	      }
	    }
	    .tab {
	    	padding: $gutter-l;
	    	blockquote {
	    		&::after {
	    			opacity: 0.3;
				    font-size: 80px;
				    bottom: 20px;
				    right: -20px;
				    color: $color-primary;
	    		}
	    	}
	    	&.active {
	    		padding-bottom: 40px;
	    	}
	    }
	}
  }
  
}