/*
 * COLORS
 */
$color-primary: #86ed18;
$color-primary-rgb: 134, 237, 24;
$color-primary-2: #aaea39;
$color-secondary-1: #000000;
$color-grey: #949FAF;
$color-lightgrey: rgba(0, 0, 0, 0.05);
$color-newgrey: #f9f9f9;
$color-darkgrey: #333232;
$color-white: #ffffff;
$color-blue: #6682e8;
$color-red: #ff7762;
$color-lightgrey-2: #edf2e2;
$color-lightgrey-3: #333434;
$color-lightgrey-4:#313131;

/*
 * border color
 
*/
$border-gray-style:1px solid #707070;


/*
 * FONT SIZES
 */
$font-size-xxs: 14px;
$font-size-xs: 16px;
$font-size-s: 18px;
$font-size-m: 20px;
$font-size-l: 22px;
$font-size-xl: 24px;
$font-size-xxl: 38px;
$font-size-xxxl: 72px;

/*
 * FONT FAMILIES
 */
$font-headline: 'Px Grotesk', sans-serif;
$font-copy: 'apercu', sans-serif;
 

/*
 * GUTTERS
 */
$gutter-xs: 5px;
$gutter-s: 10px;
$gutter-m: 20px;
$gutter-l: 40px;
$gutter-xl: 80px;
$gutter-xxl: 120px;

/*
 * IMAGES
 */
$img-size-xxxs: 134px;
$img-size-xxs: 230px;
$img-size-xs: 346px;
$img-size-s: 540px;
$img-size-m: 740px;
$img-size-l: 960px; 
$img-size-xl: 1120px;
$img-size-max: 100%;


/*
* BREAKPOINTS
*/
$breakpoints: (
    xs: 0,
    sm: 600,
    md: 960,
    lg: 1280,
    xl: 1920
);

// TODO DRY/Refactor
$breakpointsMQ: (
    xs: 0,
    sm: 600px,
	md: 960px,
    lg: 1280px,
    xl: 1920px,
);