div #callbrowsing_status
{
	width: 130px;
	height: 130px;
	padding: 10px;
	border-radius: 50%;
	background-color: #73ba24;
	box-shadow: 0 4px 8px 0 rgba(44,50,39,.1);
	color: #ffffff;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	flex-shrink: 0;
	z-index: 1000;
	visibility: hidden;
}

div #callbrowsing_status_text_big
{
	margin-top: 20px;
	width: 100%;
	line-height: 1.3;
	font-size: 24px;
	font-weight: bold;
}

div #callbrowsing_status_text_small
{
	width: 100%;
	line-height: 1.3;
	font-size: 12px;
	font-weight: normal;
}

div #callbrowsing_webview_sharing
{
	width: 130px;
	height: 130px;
	padding: 10px;
	border-radius: 50%;
	background-color: #b70000;
	box-shadow: 0 4px 8px 0 rgba(44,50,39,.1);
	color: #ffffff;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	flex-shrink: 0;
	z-index: 1000;
	visibility: hidden;
	cursor: pointer;
}

div #callbrowsing_webview_sharing_text
{
	margin-top: 20px;
	width: 100%;
	line-height: 1.3;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
}


@keyframes animation_content_zoom
{
	0% { transform: scale(1); }
	20% { transform: scale(1); }
	50% { transform: scale(1.4); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}

@keyframes animation_content_blend_in
{     0% { opacity: 0; visibility: visible; }
	100% { opacity: 1; }
}
@keyframes animation_content_blend_out
{     0% { opacity: 1; visibility: visible; }
	100% { opacity: 0; }
}